[2014-10-25 15:37] TheMarex opened #8 "Geocoder input icons are not updated when new waypoint is added"

[2014-11-24 08:32] DennisOSRM opened #15 "Line spacing for instructions box is too large."
A lot of real estate is wasted on line spacings, e.g.:

![bildschirmfoto 2014-11-24 um 09 30 28](https://cloud.githubusercontent.com/assets/1067895/5162231/afd6ec58-73bc-11e4-9a71-8183a527aaca.png)

[2014-11-27 13:04] DennisOSRM opened #23 "[map] auto zoom may hide route"
depending on the location of origin and destination, parts of the route may be hidden by route guidance:

![bildschirmfoto 2014-11-27 um 13 44 32](https://cloud.githubusercontent.com/assets/1067895/5217258/483e2384-763e-11e4-8ac8-67b381b479bc.png)

Ideally, the route is only in the unobstructed portion of the map.

[2014-11-27 13:07] DennisOSRM opened #25 "[settings] profile selection missing"
from the previous UI:

![bildschirmfoto 2014-11-27 um 14 06 40](https://cloud.githubusercontent.com/assets/1067895/5217287/a5f4a188-763e-11e4-90d7-ec966a68968a.png)

[2014-11-27 13:07] DennisOSRM opened #26 "[feature] zoom onto route"
from previous UI:

![bildschirmfoto 2014-11-27 um 13 46 31](https://cloud.githubusercontent.com/assets/1067895/5217297/bd97876a-763e-11e4-8dd9-87294289f35a.png)

[2014-11-27 13:08] DennisOSRM opened #27 "[feature] Center map on user position"
from previous UI:

![bildschirmfoto 2014-11-27 um 13 46 36](https://cloud.githubusercontent.com/assets/1067895/5217307/d0aced68-763e-11e4-85d6-b53ec14dca92.png)

[2014-11-27 23:33] TheMarex opened #35 "Switch to font based icons from mapbox-base"
Use this icons when possible. https://www.mapbox.com/base/styling/icons/

[2014-12-11 10:25] DennisSchiefer opened #38 "[feature] chosen map style should be persistant"
The selected map style is not part of a created link. When using the link one always gets the default map style.

Similarly, when reloading the map due to changing languages the map style is reset to the default style.

[2015-02-07 13:35] TheMarex opened #40 "[cleanup] Split url handling into own submodule"
Currently all the url-parameter handling code is in ```src/links.js```. We can probably split most of that into an atomic module and use something like:

https://developer.mozilla.org/en-US/docs/Web/Guide/API/DOM/Manipulating_the_browser_history

To also add history.

[2015-02-18 00:24] #26 closed

[2015-02-18 00:30] #23 closed

[2015-03-01 00:32] stevage opened #44 "Same OSRM server, two different routes using v1 or v2"
Look at this:

http://cycletour.org/?hl=en&loc=-37.755264,145.347467&loc=-37.753380,145.694833&z=12&center=-37.768544,145.470829

http://cycletour.org/v2/?hl=en&loc=-37.755264,145.347467&loc=-37.753380,145.694833&z=12&center=-37.768544,145.470829

These two front ends both use the same back end (osrm.cycletour.org:5010), yet return very different routes. Any idea why?

I see some slight difference

[2015-03-01 11:51] TheMarex commented on #44
Hm, interesting. These are the requests send to the back-end, right? Probably there is a subtle difference in how the interplay of geocoder + coordinates works.
Will check this out when I have some spare time.

[2015-03-01 12:09] perliedman commented on #44
@stevage are you sure osrm.cycletour.org and cycletour.org are actually the same OSRM instance? Your v1 uses the former, v2 uses the later. I get different results when I perform the same OSRM query to those two hosts, so I would guess it's actually two different OSRM instances that are set up differently.

[2015-03-01 12:57] stevage commented on #44
*facepalm*

Thanks - indeed, osrm.cycletour.org and cycletour.org are running different profiles. I didn't see the difference in the host name, no matter how closely I stared at it (or for how long...)

[2015-03-01 12:57] #44 closed

[2015-03-02 02:52] altair86 opened #45 "Dont work routing on http://project-osrm.org/osrm-frontend-v2/"

[2015-03-05 11:54] danyeaw opened #47 "Route Isn't Displayed with Local Clone"
If I clone the project, opening index.html in Firefox shows the map as expected, but as soon as I select two points the route never shows up. It works properly on the demo server. Steps:
git clone -b gh-pages https://github.com/Project-OSRM/osrm-frontend-v2.git
cd osrm-frontend-v2
firefox index.html
Select two points, the pins display but that is all.

Also "npm install" completes successful on th

[2015-03-05 11:59] TheMarex commented on #47
You need to load it from a local http server. For that occasions I have a small script:
https://gist.github.com/TheMarex/b5a44fa78a036a42f1a2
That starts up a http server in the current directory which listens on ```https://127.0.0.1:8337```

[2015-03-19 10:24] danyeaw commented on #47
Thanks for sharing the script, that works great to get the frontend working locally. Do you know what part of the frontend requires a httpd? I am interested in using it for a mobile routing application using cordova, but loading a httpd on the phone probably isn't a good solution.

[2015-03-23 09:48] perliedman commented on #47
One of the primary issues is probably that the OSRM server is referred by a protocol relative URL (`//router.project-osrm.org/viaroute` rather than for example `http://router.project-osrm.org/viaroute`) which causes problem when the page is loaded from `file://`. You can fix this by overriding the `serviceUrl` option to the router instance (`L.Routing.OSRM`).

However, there are other things that

[2015-03-24 10:57] danyeaw commented on #47
Thanks perliedman! Changing from a relative URL to a complete URL allows it to work properly without a httpd locally. Now I need to work on getting it working with Cordova.

[2015-03-24 10:57] #47 closed

[2015-03-24 10:58] DennisOSRM commented on #47
@TheMarex Is this something we should fix, too?

[2015-03-24 11:07] TheMarex commented on #47
@DennisOSRM nothing to fix on our side. Running from file:// is just a bad idea in general.

[2015-03-24 11:09] DennisOSRM commented on #47
Alright, fair enough. We should add a section to the readme explaining how to run _locally_ and what dependencies that carries.

[2015-06-22 17:52] amyleew opened #50 "Demo UX / UI Improvements"
Per chat w/ @TheMarex, I'm wrapping up UI / UX and design updates to [live demo](http://project-osrm.org/osrm-frontend-v2/) refresh with [Leaflet Routing Machine](http://www.liedman.net/leaflet-routing-machine/) codebase.

### Improvements
 - Open directly to OpenStreetMap editor
 - Make routes linkable / shareable
 - Add car, bike, and walk to Demo
 - Language support providing localized options

[2015-06-23 04:24] amyleew commented on #50
@TheMarex - Tracking build updates on [referesh branch](https://github.com/Project-OSRM/osrm-frontend-v2/tree/refresh). Instructions to `run locally` on [readme.md](https://github.com/Project-OSRM/osrm-frontend-v2/tree/refresh#osrm--directions-demo-template).

/cc @springmeyer

[2015-08-03 16:22] amyleew opened #52 "Pass and style print values"
Print button currently is not properly passing map values to print.html page. It is passing entire query, i.e.,  [`http://amyleew.github.io/osrm-frontend/printing.html#z=13&center=38.899049%2C-77.026949&loc=38.902389%2C-77.032700&loc=38.891834%2C-77.146854&hl=en&ly=&alt=&df=metric&srv=`](http://amyleew.github.io/osrm-frontend/printing.html#z=13&center=38.899049%2C-77.026949&loc=38.902389%2C-77.032

[2015-08-03 16:23] amyleew opened #53 "Download GPX"
Button should produce a `.gpx` file and start download, but it doesn't not seem to trigger action.

[2015-08-03 16:26] amyleew opened #54 "Style control for start, end, via points"
Start, end, and via points ideally will be styled and referenced in routing instructions differently. Looking into [src/geocoder.js](https://github.com/amyleew/osrm-frontend/blob/gh-pages/src/geocoder.js) but not completely sure how or where to set this values.

[2015-08-03 16:29] amyleew opened #55 "Add styling for alternative route"
Alt route is defined in route instructions but not clear on how to style an alt route line on the map in addition to main line styling.

![alt-route](https://cloud.githubusercontent.com/assets/4587826/9042224/4bb3d408-39db-11e5-861d-702c12b1d6ab.png)

[2015-08-03 16:29] amyleew opened #56 "Trigger for language and distance values"
Language and distance button on toolbar doesn't seem to be "triggering" action. Button should allow user to change language between:
 - Germany / English
 - metric / imperial

[2015-08-05 02:39] lbud commented on #55
@amyleew tricky as these get all hidden in LRM — [here](https://github.com/Project-OSRM/osrm-frontend-v2/commit/4b14f8b0a725081460ba2d408bca2f409ca4fe4c#diff-168726dbe96b3ce427e7fedce31bb0bcR89) it listens to the control's `routesfound` event (found in the [API documentation](http://www.liedman.net/leaflet-routing-machine/api/#l-routing-control)) which contains an array of 1 or 2 routes and adds t

[2015-08-05 02:41] lbud commented on #55
Ah, also just realized it doesn't remove the alternate route when the next event is fired. It's unfortunate that the show-all option isn't surfaced upstream (could PR if that would make sense?) so we'll have to remove the alt route, probably on the next `routingstart` event…

[2015-08-05 17:56] amyleew commented on #55
Thanks @lbud! Line styling is looking good, now matching route with instructions. Closing here.

![image](https://cloud.githubusercontent.com/assets/4587826/9093364/bf74e306-3b79-11e5-8779-a1b3afcf98d7.png)

[2015-08-05 17:56] #55 closed

[2015-08-05 18:08] amyleew opened #57 "Fonts"
add @Import to pull in fonts on page

[2015-08-05 18:12] amyleew opened #58 "Change itinerary styling div not table"
@lbud /master branch sets [src/itinerary_builder.js](https://github.com/Project-OSRM/osrm-frontend-v2/blob/master/src/itinerary_builder.js) which alters Routing instructions into `divs` vs `tables` which are set from the box with LRM.

I've adding [src/itinerary_builder.js#L26-L36](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/src/itinerary_builder.js#L26-L36) and styling [css/sit

[2015-08-05 18:55] amyleew commented on #57
@lbud updated https://github.com/Project-OSRM/osrm-frontend-v2/commit/eeac1ee184ba163562fb0a58520c4b2122e3591d and https://github.com/Project-OSRM/osrm-frontend-v2/commit/a6f51ee5297f0edfe36fdf26814bdb77a95aa13e

[2015-08-05 18:55] #57 closed

[2015-08-05 19:48] amyleew commented on #54
@lbud - Added `createMarker` to `plan` definition in [index.js#L59-L79](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/index.js#L59-L79) but it's not overriding leaflet set marker

![image](https://cloud.githubusercontent.com/assets/4587826/9096136/5d2aaf5e-3b89-11e5-88f1-754b157bdd6c.png)

[2015-08-05 22:53] amyleew opened #59 "Add styling to start, end, via input containers"
How can I achieve this @lbud ?

![image](https://cloud.githubusercontent.com/assets/4587826/9099838/8a26b2d2-3ba2-11e5-8205-c9af9ed511f0.png)

Seems to be passed in [src/geocoder.js#L14](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/src/geocoder.js#L14), I tried to specify in the function above with no luck like so:

[code]

[2015-08-06 00:05] amyleew commented on #59
@lbud got a good start with `:first-child` but not quite there... https://github.com/Project-OSRM/osrm-frontend-v2/commit/353ff03549ff0bb02b10f64461e53fe6123e5e97

![image](https://cloud.githubusercontent.com/assets/4587826/9100818/2a26a6e8-3bad-11e5-8e6d-431ebd746e1c.png)

[2015-08-07 00:15] amyleew opened #61 "Main / alt routing click to select"
Per chat w/ @lbud - For routes with *alternative routes*, let's add functionality to allow the user to select either `main` or `alt` route and then jump user to that section of the instructions.

![image](https://cloud.githubusercontent.com/assets/4587826/9126130/695b2e22-3c77-11e5-99a3-95085d7e103a.png)

[2015-08-07 00:18] lbud commented on #61
@amyleew as a preview of what the functionality I'm working on in the lrm fork I have: clicking the alternate route will basically select that _as_ the main route
![lrm-toggle](https://cloud.githubusercontent.com/assets/3170312/9126178/08a5c514-3c5f-11e5-8332-f265d7440f87.gif)

and will fire an event that indicates the newly selected route.

[2015-08-07 00:20] amyleew commented on #61
@lbud :+1: :boom:

[2015-08-07 10:21] TheMarex commented on #53
@amyleew we can drop this as I plan to remove `.gpx` support anyway. See https://github.com/Project-OSRM/osrm-backend/issues/1489

[2015-08-07 10:21] #53 closed

[2015-08-07 17:55] tristen commented on #52
Hey @amyleew see https://github.com/amyleew/osrm-frontend/commit/dec59123dd725ff538c8a0050bac8be21254c2bd

[2015-08-07 20:48] amyleew commented on #52
fixed thanks @tristen... still needs styling so i'll leave open

[2015-08-17 22:42] amyleew commented on #61
Selection functionality w/ @lbud's [LRM altLines](https://github.com/lbud/leaflet-routing-machine/tree/altLines) branch.

Controlling display of routing instructions with https://github.com/Project-OSRM/osrm-frontend-v2/commit/a756e01d4ab708dbc1ebd55f65b208ac82490e82

[2015-08-17 22:42] #61 closed

[2015-08-17 22:50] amyleew opened #62 "Pass selected route for printing"
Print button is only passing coors for the **main route** even if alternative route is selected by user.

![image](https://cloud.githubusercontent.com/assets/4587826/9318263/17fba470-4510-11e5-8f83-2bd5e4b87230.png)

![image](https://cloud.githubusercontent.com/assets/4587826/9318280/58ed065e-4510-11e5-8c16-a8687f35babb.png)

[2015-08-17 22:56] amyleew opened #63 "Reset url hash when removing waypoints"
Currently, removing waypoints removes route line style from the map and itinerary instructions but does not reset url hash. This makes plotting new waypoints difficult.

Fix this to also remove hash when waypoints are removed.

![image](https://cloud.githubusercontent.com/assets/4587826/9318419/6f112888-4511-11e5-9873-98462c4ef818.png)

![image](https://cloud.githubusercontent.com/assets/4587826/9

[2015-08-17 22:58] amyleew opened #64 "Move basemap above toolbar"
Move basemap selection to above toolbar for better UI experience.

![image](https://cloud.githubusercontent.com/assets/4587826/9318473/da054e80-4511-11e5-862b-dc3d45749ae2.png)

[2015-08-17 23:07] amyleew commented on #52
Styling here https://github.com/Project-OSRM/osrm-frontend-v2/issues/62

[2015-08-17 23:07] #52 closed

[2015-08-18 15:12] amyleew opened #65 "Style layer button"
![image](https://cloud.githubusercontent.com/assets/4587826/9333892/fab65a60-4599-11e5-878d-c0286943d2f0.png)

[2015-08-18 15:13] amyleew opened #66 "Fix icons in Firefox"
![image](https://cloud.githubusercontent.com/assets/4587826/9333931/1bce40c8-459a-11e5-9052-69ca65594aea.png)

[2015-08-18 15:21] amyleew opened #67 "Scrollbar functionality in Firefox"
Currently only manual scrolling is possible.

[2015-08-18 15:22] amyleew opened #68 "Color / readability sidebar instructions"

[2015-08-18 16:02] amyleew opened #69 "Fix layer duplicate and maxZoom"
A few wonky issues with the Layer Group:
 1. The initial basemap is not **selected** when the page loads

 ![image](https://cloud.githubusercontent.com/assets/4587826/9335241/d80c0eb8-45a0-11e5-89a5-5e807f6b90f8.png)
 2.  In the code I need to call the inital basemap twice for it to appear in the list [redesign/src/leaflet_options.js#L23-L60](https://github.com/Project-OSRM/osrm-frontend-v2/blob/r

[2015-08-18 16:03] amyleew commented on #64
Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/b54a3431554642f19cc066ec34d734680836dd12

[2015-08-18 16:03] #64 closed

[2015-08-18 18:23] amyleew commented on #69
Fixed in https://github.com/Project-OSRM/osrm-frontend-v2/commit/833b56684221751e5a71dbcc0dfd2ae9d3c436f0

[2015-08-18 18:23] #69 closed

[2015-08-18 18:43] amyleew commented on #65
Completed https://github.com/Project-OSRM/osrm-frontend-v2/commit/bd1b210d3359430f0bb10e97f6d879ffccaceab2

[2015-08-18 18:43] #65 closed

[2015-08-18 19:21] amyleew commented on #68
Done https://github.com/Project-OSRM/osrm-frontend-v2/commit/f75218d716825d7c4126c103131f471977af7e0c

[2015-08-18 19:21] #68 closed

[2015-08-18 20:43] amyleew commented on #59
We now have color-coding for start, end and via points

[2015-08-18 20:44] #59 closed

[2015-08-19 06:00] lbud commented on #62
Hmm it looks to me like it is only going to the alternate route — but yeah, this is a bug. It's coming from [here](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/printing.js#L39), which currently hardcodes whatever line comes from the _last route_ in the array of possible routes (`alts[alts.length - 1]`). I'm working on a fix that makes the index of the selected alternative configu

[2015-08-19 15:03] amyleew commented on #62
Per chat with @lxbarth, let's hit this issue post-launch.

[2015-08-19 15:18] amyleew opened #70 "Start / end indication for markers"
Better `start` / `end` visual indication for makers.

![image](https://cloud.githubusercontent.com/assets/4587826/9360402/fcdecbe0-4663-11e5-8efc-e9db1f5ec9bb.png)

[2015-08-19 15:25] amyleew opened #71 "Fix Click to add via points"
Clicking the `+` button changes the `end point` to a `via point`.

The same thing happens on [the current osrm-frontend-v2](http://project-osrm.org/osrm-frontend-v2/) and seems to be an upstream issue with LRM functionality. Check if the solution of making the `start` and `end` points fixed is a simple change or upstream.

![image](https://cloud.githubusercontent.com/assets/4587826/9360204/f281a88

[2015-08-19 15:28] amyleew opened #72 "Add "small components" layer"
<img width="152" alt="screen shot 2015-08-19 at 12 45 02" src="https://cloud.githubusercontent.com/assets/25713/9354371/26a10388-4670-11e5-8b26-6664505b847a.png">

/cc @freenerd

[2015-08-19 17:56] amyleew commented on #72
Added https://github.com/Project-OSRM/osrm-frontend-v2/commit/1c556ee00d1b78387f3930836b6135e878ede496

![image](https://cloud.githubusercontent.com/assets/4587826/9363957/9c2ded44-4677-11e5-845b-c78e12c176c5.png)

/cc @freenerd

[2015-08-19 18:04] emiltin commented on #72
as a side note, the small components layer is computed based on the car profile. in case you enable routing other modes like bike or walking, the layer should optimally reflect this.

[2015-08-19 18:14] amyleew commented on #72
thanks @emiltin. current build is car profile only, but good to keep in mind future builds.

[2015-08-19 23:11] amyleew commented on #70
Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/a382ad0fa844daaaad4167677d12509ccef64a7b

![image](https://cloud.githubusercontent.com/assets/4587826/9371810/13c86c7a-46a6-11e5-9a3e-537008f53446.png)

[2015-08-19 23:11] #70 closed

[2015-08-19 23:16] amyleew commented on #71
Solved by removing `addWaypoints` button https://github.com/Project-OSRM/osrm-frontend-v2/commit/50083b6e9c718ead5a853ed9fc3d1b76509954f1

![image](https://cloud.githubusercontent.com/assets/4587826/9371888/a7a4f936-46a6-11e5-9fa0-11b3a341cf6f.png)

[2015-08-19 23:16] #71 closed

[2015-08-19 23:28] amyleew commented on #66
Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/aa2af5001c6a294affd87e10eb1252effdf75776

Can you take a peek on your end @daniel-j-h ?

[2015-08-19 23:39] amyleew opened #73 "Change drag marker to refresh route on drag not click"
Currently refresh of route happens `on.releasee` make it `on.drag`

/cc @danpat

[2015-08-19 23:41] danpat commented on #73
Consider putting a small timer in `on.drag` to prevent rapid dragging flooding the server with requests.  Only update the route when the timer expires, and renew the timer whenever `on.drag` occurs.  Something like 75-100ms should be almost unnoticeable and would greatly reduce the number of requests during dragging.

[2015-08-19 23:44] danpat commented on #73
Something like:
[code]

[2015-08-19 23:54] lbud opened #74 "Instructions overflowing"
When the window is too small, the directions overflow to the left of the instructions panel:
![image](https://cloud.githubusercontent.com/assets/3170312/9372398/ebcb38d2-4692-11e5-8a17-09563d59bb81.png)

[2015-08-19 23:55] lbud opened #75 "Clicking a waypoint to remove it"
(as a feature request) This is a pretty common interaction. Otherwise it becomes impossible to remove a waypoint right now.

[2015-08-20 00:00] daniel-j-h commented on #66
Icons look great now! One minor nitpick, while (re-)loading the page:
the icons are hidden by the browser's URL requests thingy at the bottom left.

![icons-loading](https://cloud.githubusercontent.com/assets/527241/9372389/4189de5e-46de-11e5-9429-f3b801e9ce79.jpg)

[2015-08-20 00:01] lbud opened #76 "Switch between alternate routes via summaries"
a la
![image](https://cloud.githubusercontent.com/assets/3170312/9372441/555134f0-4693-11e5-9a3f-8f62f421afb6.png)
(the "Fulton Street" link alternates to the other route)
![image](https://cloud.githubusercontent.com/assets/3170312/9372452/65fe9680-4693-11e5-9ce9-a7908f93f16a.png)
or even
![image](https://cloud.githubusercontent.com/assets/3170312/9372483/dfe7bf6c-4693-11e5-8bc7-6cf9df5eab91.png)

[2015-08-20 03:44] amyleew commented on #66
@daniel-j-h I'll push that toolbar up a bit! Thanks

[2015-08-20 14:25] amyleew commented on #76
@lbud Should we eventually add this to the updated demo as well for a 2nd way to swap between main and alt routes? Possibly by adding the [IRouteSummary](http://www.liedman.net/leaflet-routing-machine/api/#iroutesummary) linked below the current route's itinerary.

![image](https://cloud.githubusercontent.com/assets/4587826/9385607/53a29f08-4725-11e5-867a-4ed61381e1b5.png)

[2015-08-20 15:35] amyleew commented on #73
@danpat - LRM has an option for [`routeWhileDragging`](http://www.liedman.net/leaflet-routing-machine/api/#l-routing-control) and `routeDragInterval`, which I've set to [`true`](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/index.js#L71) and [`100`](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/index.js#L79) but I'm not sure it's overriding properly but it's showi

[2015-08-20 15:59] amyleew commented on #73
@danpat - Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/dc7608f91db0697e0a84cb94d703ceed5c89d87d! Needs to be set twice in [`control`](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/index.js#L91) and [`plan`](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/index.js#L70).

[2015-08-20 15:59] #73 closed

[2015-08-20 16:05] amyleew commented on #66
Pushed it up a bit @daniel-j-h
![image](https://cloud.githubusercontent.com/assets/4587826/9388471/ab6b14aa-4733-11e5-910e-260c8cba29a2.png)

Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/ab3117679e1fa0d08c9aef774ac33e31e665a152

[2015-08-20 16:05] #66 closed

[2015-08-20 18:04] amyleew commented on #74
@lbud - Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/47ffbdb349e1075d0f8bdd9db8dadd73b0fa7016

[2015-08-20 18:04] #74 closed

[2015-08-20 18:06] amyleew opened #77 "Add color to markers for print"
Currently not matching DEMO page markers.

![image](https://cloud.githubusercontent.com/assets/4587826/9391384/720fb0f6-4744-11e5-9d0b-5dea555e11b5.png)

Tried to add functionality [printing.js#L64-L73](https://github.com/Project-OSRM/osrm-frontend-v2/blob/cc2207283ddd8171844132e2de07fccbf4e19f2a/printing.js#L64-L73) maybe missing something.

[2015-08-20 18:08] amyleew commented on #75
Returned `x` for added points in `geocoder` https://github.com/Project-OSRM/osrm-frontend-v2/commit/0e1babf1c83e92d58dc15027414b997fb2674d3a. Originally removed when I took away the `addWaypoints` button. Didn't realize it removed `x` for all waypoints. Thanks for the catch @lbud!

![image](https://cloud.githubusercontent.com/assets/4587826/9391443/cb842e5a-4744-11e5-9d7b-aa9a6785ba2a.png)

[2015-08-20 18:08] #75 closed

[2015-08-20 21:24] amyleew opened #78 "Update waypoint markers"
Icons 2x vertical size adding 100% transparency at bottom.

/cc @lbud

[2015-08-20 21:24] amyleew opened #79 "Remove endpoint click refresh"
Currently refreshes page.

/cc @lbud

[2015-08-20 21:25] amyleew opened #80 "Add click to remove via point functionality"
![image](https://cloud.githubusercontent.com/assets/4587826/9395832/e79f2a9e-475e-11e5-8eb6-90560a8b5cbe.png)

/cc @lbud

[2015-08-20 21:25] amyleew opened #81 "Remove language / unit links"
/cc @lbud

[2015-08-20 21:25] amyleew opened #82 "Set geocoder input to tab complete"
Works with `Enter` only now. Change code to look for `blur` event instead.

/cc @lbud

[2015-08-20 21:25] amyleew opened #83 "Remove page refresh when routing"
/cc @lbud

[2015-08-21 16:43] amyleew commented on #78
Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/e1b0aa4debc9df0848c577f6fe7db8fb69b5da91

[2015-08-21 16:43] #78 closed

[2015-08-21 19:14] amyleew commented on #81
Removed https://github.com/Project-OSRM/osrm-frontend-v2/commit/27076deaa2fce188eaddac12ee6af7e738d8d264

[2015-08-21 19:14] #81 closed

[2015-08-21 20:30] amyleew commented on #83
@lbud I've tried [`history.pushState()`](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/index.js#L157) to refresh the url in browser but not the page. However this causing issues pushing parameters to print page.

When [`waypointschanged` calls `updateHash`](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/index.js#L122)

![image](https://cloud.githubusercontent.com/a

[2015-08-21 20:51] lbud commented on #82
I'd move this to pre-launch as I just realized the following does not work:

* Type address in first geocoder
* Tab to next geocoder, type address
* Hit enter. **Nothing happens**
* Hit enter again just for fun: _only the end geocoder gets geocoded/pin drop_

This is a really common pattern that should work before this is live.

[2015-08-21 20:56] lbud opened #84 "Can't do a second route"
The following does not work:

* Click two points to get a route
* `x` both geocoders to clear route
* Click twice more again to get a new route: these clicks do not add markers or change anything

@amyleew

[2015-08-21 20:57] lbud opened #85 "Clearing route doesn't change hash"

[2015-08-21 21:07] amyleew commented on #79
Tracking here: https://github.com/Project-OSRM/osrm-frontend-v2/issues/83

[2015-08-21 21:07] #79 closed

[2015-08-21 21:08] amyleew commented on #83
@lbud - working now https://github.com/Project-OSRM/osrm-frontend-v2/commit/7293cd88e4d101373a29dc5fd9542417ed6a9e05, but after a few searches `drop marker` doesn't work on click.

[2015-08-21 21:09] amyleew commented on #84
@lbud - Yes! New bug after implementing refresh fix: https://github.com/Project-OSRM/osrm-frontend-v2/issues/83

[2015-08-21 21:32] amyleew commented on #80
@lbud - Click to remove is possible with [Leaflet.label plugin](https://github.com/Leaflet/Leaflet.label)

[Added here](https://github.com/Project-OSRM/osrm-frontend-v2/commit/09ef68d39c98f3c99c0290245d004d2b7ea165aa) but no results.

Is it been overwritten or am I missing something?

[2015-08-24 12:41] freenerd commented on #72
Can you disable small components by default? Only a small subset of users will ever be interested in them.

[2015-08-24 14:39] amyleew opened #87 "Print button no longer sending values"
Broken with recent changes.

[2015-08-24 14:47] amyleew commented on #80
Working

[2015-08-24 14:47] #80 closed

[2015-08-24 15:21] amyleew commented on #83
Fixed

[2015-08-24 15:21] #83 closed

[2015-08-24 15:48] amyleew commented on #72
Removed https://github.com/Project-OSRM/osrm-frontend-v2/commit/23fd70e7135743cc653ce498eabb57a74a8dd61b

[2015-08-24 15:48] #72 closed

[2015-08-24 15:56] amyleew commented on #87
This issue based on `#` vs. `?` https://github.com/Project-OSRM/osrm-frontend-v2/commit/23fd70e7135743cc653ce498eabb57a74a8dd61b

[2015-08-24 15:56] #87 closed

[2015-08-24 16:10] amyleew commented on #84
Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/74f94685d20c43caa750084d5b5d6320dca53c99

[2015-08-24 16:10] #84 closed

[2015-08-24 17:26] amyleew commented on #82
@lbud Looks like an upstream issue.

Basic [LRM example](http://www.liedman.net/leaflet-routing-machine/) finds both `start` and `end` points then routes with `tab` `tab` `enter`.
![image](https://cloud.githubusercontent.com/assets/4587826/9447026/1bf44fde-4a63-11e5-91f2-8c4741bceb55.png)

Doesn't work out the box with [`click to add waypoints` interaction](http://www.liedman.net/leaflet-routing-m

[2015-08-24 20:36] tristen commented on #82
Hey @lbud I tried the steps you outlined in https://github.com/Project-OSRM/osrm-frontend-v2/issues/82#issuecomment-133560757 from the [LRM example](http://www.liedman.net/leaflet-routing-machine/) and I'm re-creating it there too. It looks like this bug should be reported to the LRM project and not necessarily a launch blocker to the redesign?

[2015-08-24 21:06] amyleew commented on #54
Fixed

[2015-08-24 21:06] #54 closed

[2015-08-24 22:29] amyleew opened #88 "Swap # with ?"
In `url`.

[2015-08-31 14:52] amyleew commented on #85
Fixed http://amyleew.github.io/osrm-frontend/

[2015-08-31 14:52] #85 closed

[2015-08-31 14:56] amyleew commented on #82
@perliedman Is looking into this issue: https://github.com/perliedman/leaflet-routing-machine/issues/148

[2015-08-31 18:23] perliedman commented on #82
I'm not entirely sure what the best interaction would be, so if you have suggestions, feel free to add them to https://github.com/perliedman/leaflet-routing-machine/issues/148

[2015-08-31 20:50] amyleew opened #89 "Add zoom and set location to control"
To match current version
![screen shot 2015-08-31 at 4 49 17 pm](https://cloud.githubusercontent.com/assets/4587826/9590048/4bf2314a-5000-11e5-9b26-cf16a65f2e80.png)

Added `zoom`
![image](https://cloud.githubusercontent.com/assets/4587826/9590011/2296b294-5000-11e5-91ba-2f67b9ba0536.png)

and `leaflet-location`
![image](https://cloud.githubusercontent.com/assets/4587826/9589988/0766236a-5000-11e5

[2015-09-01 01:59] amyleew commented on #88
Throwing error
[code]
Errors here [/printing.js#22](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/printing.js#L22) But threw some on [this function](https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/printing.js#L65-L70) while testing, that syntax look legit @danpat ?

[2015-09-01 02:19] danpat commented on #88
it looks like `parsedOptions.center` is not a valid object.  It's still being set from `window.location.hash` here https://github.com/Project-OSRM/osrm-frontend-v2/blob/redesign/printing.js#L10

[2015-09-01 15:29] amyleew opened #90 "Zoom in doesn't change the URL or map params"
On `zoom` and moving the map around (`center` update) URL doesn't update or [pass parameters to print page](https://github.com/Project-OSRM/osrm-frontend-v2/issues/91). Seems like a valid blocker for launch so I'll add to `Redesign milestone`.

/cc @lxbarth @lbud

![image](https://cloud.githubusercontent.com/assets/4587826/9608150/f535c1fa-509a-11e5-9981-b11154f1691a.png)
*Zoomed in and moved the

[2015-09-01 15:31] amyleew opened #91 "All map parameters are not passing to print page"
On `zoom` and moving the map around (`center` update) not passing parameter values to print page.

[2015-09-01 17:58] amyleew commented on #88
Having an issue passing the correct parameters from the `_printPage` function [src/tools.js#L120-L133](https://github.com/Project-OSRM/osrm-frontend-v2/blob/6ceab43409922e01c9c1dbd325a5f99c6d794bbd/src/tools.js#L120-L133) `center`  and `zoom` added to `var options` are legit values

![image](https://cloud.githubusercontent.com/assets/4587826/9611384/5989dc38-50ad-11e5-95f2-d458ec22a603.png)

But t

[2015-09-01 18:03] amyleew commented on #88
Looks like I'm missing some `requires` in [`links.js`](https://github.com/Project-OSRM/osrm-frontend-v2/blob/6ceab43409922e01c9c1dbd325a5f99c6d794bbd/src/links.js#L3-L4) ...

[2015-09-01 22:03] amyleew commented on #82
Thanks @perliedman!

Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/1d2e65405f4492afea78e33ebb0f3b44385d494b

![image](https://cloud.githubusercontent.com/assets/4587826/9618320/9d28b47a-50d3-11e5-9442-e826466a27f1.png)

/cc @lbud

[2015-09-01 22:03] #82 closed

[2015-09-01 22:06] amyleew commented on #88
Print working https://github.com/Project-OSRM/osrm-frontend-v2/commit/43bf9ba26724c44f79aa3b6ff19b98b1f5cc4677

[2015-09-01 22:06] #88 closed

[2015-09-01 22:07] amyleew commented on #89
Added https://github.com/Project-OSRM/osrm-frontend-v2/commit/f2a26ab7c437810084ab118964f2317616ee7edb

[2015-09-01 22:07] #89 closed

[2015-09-01 23:03] amyleew commented on #91
Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/4b375194abf41b957deb824089f11e11c4135e67

[2015-09-01 23:03] #91 closed

[2015-09-01 23:03] amyleew commented on #90
Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/4b375194abf41b957deb824089f11e11c4135e67

[2015-09-01 23:03] #90 closed

[2015-09-02 15:34] amyleew opened #92 "Get location button removes other pins"
Figure out what's doing this and remove it. Probably an option within [`leaflet.locator`](https://github.com/domoritz/leaflet-locatecontrol)

![image](https://cloud.githubusercontent.com/assets/4587826/9635897/932611c8-5166-11e5-8ba9-0772fd5b138d.png)

[2015-09-02 15:35] amyleew commented on #63
Fixed

[2015-09-02 15:35] #63 closed

[2015-09-02 15:37] amyleew opened #93 "Alt routes functionality missing"
Can't get the alt routes to show up at the moment. Looking into this.

@lbud

[2015-09-02 18:02] amyleew opened #94 "Copy pasting url loads at original zoom"
Hash lies! Due to the [`history.state`](https://github.com/Project-OSRM/osrm-frontend-v2/blob/c49e5f7e781c2bd963897a567740fe6de49840bc/index.js#L158)?

This takes you here http://amyleew.github.io/osrm-frontend/?z=17&center=38.925446%2C-77.121958&loc=38.914544%2C-77.071581&loc=38.925563%2C-77.092524&loc=38.913877%2C-77.126770&loc=38.913943%2C-77.150030&hl=en&ly=&alt=&df=&srv=

![image](https://clo

[2015-09-02 18:06] amyleew commented on #92
Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/bca3cf84bd76c044a78661eb2c83d87390c8f6d8

[2015-09-02 18:06] #92 closed

[2015-09-02 18:11] amyleew commented on #93
Fixed https://github.com/Project-OSRM/osrm-frontend-v2/commit/7e1baa314c40ff7f21a13b92758aa996046a0d4a

[2015-09-02 18:11] #93 closed

[2015-09-02 20:28] tristen opened #97 "[code review] Small TODOs"
I've just had a quick review of the code and I'm seeing a few things worth addressing before the new frontend becomes a thing.
- Replace [this file](https://github.com/Project-OSRM/osrm-frontend-v2/blob/21758f5ee004842eb632d1b69de998b18397f6a0/.jshintrc) with this instead: https://gist.github.com/tristen/3398551b785998ab1033 renaming the file to .eslintrc. You aren't using jshint in this project
-

[2015-09-02 20:32] amyleew commented on #97
Awesome @tristen! Will take a look.

[2015-09-03 00:05] amyleew commented on #97
@tristen Fixed and merged all your feedback to `gh-pages` https://github.com/Project-OSRM/osrm-frontend-v2/pull/99. **All but** this one:
- `Error  Move the invocation into the parens that contain the function 4:16` in [src/geocoder.js](https://github.com/Project-OSRM/osrm-frontend-v2/blob/3e1e848859d57e98849ac3666b742cb9ee62e6af/src/geocoder.js) it references the [`wrap-iife`](http://eslint.org/d

[2015-09-03 13:56] planemad opened #102 "QA mode"
Would be great to have a specialized mode for testing along with some extra debugging info. This is an issue with the previous frontend where we would have to constantly enable the small components layer, but this is not very relevant for the average user.

**Immediate need**
- [x] Enable small components by default https://github.com/Project-OSRM/osrm-frontend-v2/issues/108
- [x] OSM mapnik layer

[2015-09-03 14:01] planemad opened #103 "Zoom to waypoint"
This was a very handy feature in the old frontend to fine tune the location of waypoints without scroll dancing.

[2015-09-03 14:07] planemad opened #104 "Shortlink generation"
Used to use the shortlink quite a bit to share a route to someone over email. Also handy to have a neat link to post for reference in tickets.

[2015-09-03 14:30] tristen commented on #97
This is probably a rule we can ignore. Putting the parens outside of the function is common practice. I would set a flag in the `.eslintrc` file to disable this warning.

Hmm let's avoid this rule all together: a space between the parens and function name.

Might be a good idea to ignore this directory in your `npm test` script. just target `src/*.js` instead.

[2015-09-03 18:43] amyleew commented on #97
A few PR's later... Done https://github.com/Project-OSRM/osrm-frontend-v2/pull/107 Had to add `.eslintignore`file for `src/libs/leaflet-label.js`.

Merged to `gh-pages` http://project-osrm.org/osrm-frontend-v2/

/cc @tristen @lxbarth

[2015-09-03 18:47] #97 closed, assigned to nobody

[2015-09-03 18:51] amyleew commented on #97
@TheMarex - ~~Is there a reason for this repo to have `master` branch? if not, I'll delete it.~~ Thanks

I've deleted it

[2015-09-03 19:31] amyleew commented on #104
@planemad - In addition to linkable url? Not as short, but @lxbarth requested it as a better alternative to shortlink...

![image](https://cloud.githubusercontent.com/assets/4587826/9668648/c14d547c-5250-11e5-8830-015ecd7333c5.png)

[2015-09-03 19:36] amyleew commented on #102
@planemad ^^ should be easy fixes. To be clear... you're suggesting an alternative map for QA-ing?

[2015-09-03 19:48] planemad commented on #102
@amyleew yes, Mapbox Streets is not very useful for this purpose since access restrictions and barriers are not rendered.

[2015-09-04 01:47] lbud commented on #104
Yeah, I think the `osrm.at/___` links are great and people use them a lot

[2015-09-04 08:26] TheMarex commented on #102
We could simply save this preferences in a cookie. That way you only need to configure language/layer/unit of measurement once.

[2015-09-04 20:03] amyleew opened #108 "Add `localStorage` for QA preferences"
Ref: https://github.com/Project-OSRM/osrm-frontend-v2/issues/102, add https://www.npmjs.com/package/local-storage to save QA (and other user) preferences:
- [x] Which `baselayer` user selects
- [x] Is `small components` checked

/cc @tristen @planemad

[2015-09-04 20:05] amyleew commented on #102
@planemad - Is this data available via mapID like `small components`?

[2015-09-04 21:35] amyleew opened #109 "Marker point nudge"
Automatically nudge every point in order to find the failure waypoint and zoom to it. Currently we do this manually for every issue.

cc @planemad

[2015-09-04 21:36] amyleew commented on #102
@lbud will that be relevant for most users?

[2015-09-04 21:39] amyleew opened #110 "Dynamic overlay?"
@planemad - Could be a `map ID` that the team can access on `github` and update as necessary. Make sense? Would that work? Can't think of another way to add this feature...

Ideas @lbud @lxbarth ?

[2015-09-04 23:50] amyleew commented on #108
Can't figure out how to change `baseLayer` based on saved preferences on `window.load` [src/index.js#L19-L46](https://github.com/Project-OSRM/osrm-frontend-v2/blob/3f6896ba3533da7e36a9b4ca723477b8c72c874d/src/index.js#L19-L46)

@tristen @mourner Any tips?

[2015-09-05 08:29] mourner commented on #108
@amyleew rather than change checkboxes, you have to set the right layer at a Leaflet map level, e.g. here: https://github.com/Project-OSRM/osrm-frontend-v2/blob/3f6896ba3533da7e36a9b4ca723477b8c72c874d/src/index.js#L62

[2015-09-05 09:57] planemad commented on #110
@amyleew that should work well. I sometimes experiment with new styles that can help with QA like the [unconnected roads layer](https://api.mapbox.com/v4/planemad.c2f80b8f/page.html?access_token=pk.eyJ1IjoicGxhbmVtYWQiLCJhIjoiemdYSVVLRSJ9.g3lbg_eN0kztmsfIPxa9MQ#4/46.53/7.29) and [road classification layer](https://api.mapbox.com/v4/planemad.5504651b/page.html?access_token=pk.eyJ1IjoicGxhbmVtYWQiLC

[2015-09-05 10:07] planemad commented on #109
Woohoo, this will be so awesome!

[2015-09-05 10:09] planemad commented on #102
@amyleew don't think so, the only way i'm aware of is to use the [OSM notes API](http://wiki.openstreetmap.org/wiki/API_v0.6#Map_Notes_API)

[2015-09-05 12:11] TheMarex commented on #109
What does `nudge` mean here? Can you elaborate @planemad?

[2015-09-05 18:47] planemad commented on #109
@TheMarex the first step when we inspect [a failure](http://osrm.at/fjg) is to move each waypoint around to figure out which end has this issue. If moving the waypoint results in a route, the failure is at that end.

![untitled](https://cloud.githubusercontent.com/assets/126868/9700749/7d85aaa4-542c-11e5-8f01-fd8e539ad078.gif)

Following this, we have to refresh the page and then zoom to the probl

[2015-09-05 20:38] TheMarex commented on #109
@planemad How do you imagine this would work code wise? I'm just not seeing how you want to automate this at the frontend level.

Certainly we could do a lot better job at automating the diagnosis of this kind of failure but I think the frontend is the wrong place for this kind of analysis.

[2015-09-05 21:01] planemad commented on #109
@TheMarex make separate directions requests by shifting each waypoint by a certain distance, eg. `lat += 0.1 * Math.random()` till we get a successful route. Not perfect, but its an easy way to reduce a lot of manual steps in the UI that we are doing currently.

Agree that this should ideally be in the backend. What do you suggest for now?

[2015-09-07 09:03] emiltin commented on #109
maybe do a table query with half the points scattered around A and the other half around B?

[2015-09-08 15:31] amyleew commented on #102
@planemad - How would you prioritize these enhancements in order of necessity to QA?

[2015-09-08 19:10] amyleew commented on #108
@mourner - Pushing [`layer` value (object)](https://github.com/Project-OSRM/osrm-frontend-v2/blob/localStorage/src/index.js#L61) in [`window.onLoad`](https://github.com/Project-OSRM/osrm-frontend-v2/blob/localStorage/src/index.js#L18-L43) function based on [baselayers](https://github.com/Project-OSRM/osrm-frontend-v2/blob/localStorage/src/leaflet_options.js#L45-L50) in layerGroup but page is not i

[2015-09-08 19:18] amyleew commented on #110
@planemad - Send me the `map id` for a version of [unconnected roads layer](https://api.mapbox.com/v4/planemad.c2f80b8f/page.html?access_token=pk.eyJ1IjoicGxhbmVtYWQiLCJhIjoiemdYSVVLRSJ9.g3lbg_eN0kztmsfIPxa9MQ#4/46.53/7.29) and [road classification layer](https://api.mapbox.com/v4/planemad.5504651b/page.html?access_token=pk.eyJ1IjoicGxhbmVtYWQiLCJhIjoiemdYSVVLRSJ9.g3lbg_eN0kztmsfIPxa9MQ#7/22.558/7

[2015-09-08 21:40] amyleew commented on #103
@planemad - The waypoint input is intimately tied to the [LRM](https://github.com/perliedman/leaflet-routing-machine) plugin we are using. This is is an upstream issue, probably better suited as a feature request for that project.

[2015-09-08 21:40] amyleew opened #112 "Turn-by-turn (scroll)"
Enable scrolling to view turn-by-turn directions on map.

[2015-09-08 21:40] amyleew opened #113 "Increase button sizes for toolbar"
Bigger buttons.

[2015-09-08 22:58] lbud opened #115 "Center map when first pin is dropped"
When you hit enter on the first geocoding input and a pin is dropped somewhere, the map should center on that location.
@amyleew

[2015-09-08 22:59] lbud opened #116 "Have to hit enter twice on second input to geocode it"
When I geocode the first field, tab to the second, hit enter to geocode an address, nothing happens until I've pressed enter twice.
@amyleew

[2015-09-08 23:09] amyleew commented on #116
@lbud - This is an upstream issue that if fixed would go against Nominatim's prohibit of typeahead (see [discussion](https://github.com/Project-OSRM/osrm-frontend-v2/issues/82)). Solution was to add instructions as `placeholder` text.

[2015-09-08 23:10] #116 closed, assigned to nobody

[2015-09-09 06:42] planemad commented on #103
tracking on https://github.com/perliedman/leaflet-routing-machine/issues/156

[2015-09-09 08:10] perliedman commented on #116
Worth noting that the Photon geocoder (also supported by LRM if you use the latest Leaflet Control Geocoder version), supports typeahead and is based on Nominatim's data.

Mapbox's geocoder is also supported by LRM/Leaflet Control Geocoder and has typeahead, but the data quality outside the US (or at least in Sweden!) appears to be of lower quality.

To summarize: using a service with typeahead wo

[2015-09-09 09:42] planemad commented on #110
@amyleew
- Unconnected Roads `planemad.8d3c7f25`
- Road Hierarchy `planemad.c2f80b8f`

[2015-09-09 09:47] planemad commented on #102
@amyleew updated

[2015-09-09 13:29] amyleew opened #117 "Ratio of route distance to line of sight distance"
@planemad

[2015-09-09 13:32] amyleew opened #118 "View unresolved notes in the area"
http://wiki.openstreetmap.org/wiki/API_v0.6#Map_Notes_API

/cc @planemad

[2015-09-09 13:36] amyleew commented on #103
thanks @planemad. re-opened...

[2015-09-09 13:44] amyleew commented on #102
Thanks @planemad! Updated with links.

[2015-09-09 14:36] planemad commented on #103
@amyleew flagging this as important. We would waste significant time if we had to manually zoom into each point without this feature.

[2015-09-09 22:01] amyleew commented on #108
Fixed and merged ^^

@planemad - [try it out](http://project-osrm.org/osrm-frontend-v2/) :+1:

[2015-09-09 22:01] #108 closed, assigned to amyleew

[2015-09-11 00:37] amyleew commented on #103
@planemad - I've started this on the [`zoom`](https://github.com/Project-OSRM/osrm-frontend-v2/tree/zoom) branch here. I won't be able to implement this feature, but please feel free to pick it up...

[2015-09-11 00:37] #103 closed, assigned to amyleew

[2015-09-11 00:41] amyleew commented on #102
@planemad - I've updated this ticket ^^ I've got links to the issues create for these enhancements, but have closed them in interest of getting this demo launched. Perhaps you are someone else can pick them up post-launch!

[2015-09-11 00:41] #102 closed, assigned to nobody

[2015-09-11 00:41] #117 closed, assigned to nobody

[2015-09-11 00:41] #115 closed, assigned to nobody

[2015-09-11 00:41] #113 closed, assigned to nobody

[2015-09-11 00:42] #112 closed, assigned to nobody

[2015-09-11 00:43] amyleew commented on #110
This one shouldn't be too complicated. You should try and add this @planemad. If you have questions along the way, I'll help where I can!

[2015-09-11 00:43] #110 closed, assigned to amyleew

[2015-09-11 00:44] amyleew commented on #109
@planemad - Can you open a backend issue for this?

[2015-09-11 00:44] #109 closed, assigned to amyleew

[2015-09-11 00:44] #104 closed, assigned to amyleew

[2015-09-11 00:44] #94 closed

[2015-09-11 00:44] #77 closed

[2015-09-11 00:44] #76 closed

[2015-09-11 00:44] #67 closed

[2015-09-11 00:44] #62 closed

[2015-09-11 00:46] #118 closed, assigned to nobody

[2015-09-11 17:59] lxbarth opened #122 "Does not show logo when no route is planned"
The UI doesn't show the OSRM logo when no route is planned. The logo could be a lot smaller fwiw.

http://project-osrm.org/osrm-frontend-v2/

[2015-09-11 19:32] amyleew commented on #122
Merged

[2015-09-11 19:32] #122 closed, assigned to nobody

[2015-09-14 13:23] planemad commented on #108
@amyleew :+1:

[2015-09-29 09:28] TheMarex commented on #56
@amyleew Where did the language button go? This is kind of important, we have a large non-English speaking community.

[2015-09-29 10:29] planemad opened #126 "Strange routing with a via point"
Picked up some loopy routing suggestions when playing with via points

![untitled](https://cloud.githubusercontent.com/assets/126868/10161539/70c894fe-66c2-11e5-86de-e2a3d54524d1.gif)
http://map.project-osrm.org/?z=16&center=36.836956%2C-87.473198&loc=36.839266%2C-87.479936&loc=36.837729%2C-87.480783&loc=36.834397%2C-87.474153&hl=en&ly=&alt=&df=&srv=

Not sure what going on here since moving that

[2015-09-29 10:42] TheMarex commented on #126
@planemad looks like a routing bug. Can we move this to `osrm-backend`?

[2015-09-29 10:46] planemad commented on #126
Moved to https://github.com/Project-OSRM/osrm-backend/issues/1714

[2015-09-29 10:46] #126 closed, assigned to nobody

[2015-09-29 13:31] amyleew commented on #56
@TheMarex - Had trouble implementing this. Removed for initial launch.

[2015-09-29 13:54] TheMarex opened #127 "Distance is rounted to 100kms?"
A user just reported this on the mailing list.

Have a look at this route http://map.project-osrm.org/?z=3&center=26.509905,66.445313&loc=48.690960,11.074219&loc=-25.005973,24.960937&hl=en&ly=&alt=&df=&srv=

"14000 km, 174 h" Is the conversion/rounding going wrong somewhere?

/cc @perliedman

[2015-09-30 16:00] perliedman commented on #127
LRM rounds distances with a precision that depends on the size of the distance. The idea behind is to make the intinerary instructions readable and understandable: if you're going 2096 meters to the next turn, you probably want to read "continue 2km", but if you're going 96 meters, you want to read "100m".

As currently implemented, it uses the same method to present the total distance, but less c

[2015-09-30 16:42] TheMarex commented on #127
@perliedman yeah I think the rounding might be a little bit too fancy. It is not really clear that it is a rounded value, and you would not expect it to be. I think this is more of an issue with voice directions, but the logic that would govern that is independent from the frontend I think.

[2015-10-02 13:53] #127 closed, assigned to nobody

[2015-10-06 06:40] yohanboniface opened #132 "Link to OSRM with map center and start marker?"
Hi,

From uMap, there is a link that allow to start a route in OSRM from a map point, which used to then open OSRM website on a given center and the start marker already set.

Here is an example of URL computed by uMap that used to work: http://map.project-osrm.org/?loc=51.52740913661656,-0.08299827575683594&hl=de

Is there a way to reproduce that behaviour with new website?

Thanks :)

Ref: https

[2015-10-06 09:05] TheMarex commented on #132
For external linking please use `openstreetmap.org`. E.G:

[code]

[2015-10-06 09:05] #132 closed, assigned to nobody

[2015-10-06 09:15] yohanboniface commented on #132
Right, thanks, I'll do that :)

[2015-10-07 11:15] planemad opened #133 "Route does not fail while while dragging marker"
While dragging a marker to an unroutable area, the suggested route continues to display the last successful route till the marker is dropped. This behavior makes it very hard to spot the exact point of failure while doing directions QA.

![untitled](https://cloud.githubusercontent.com/assets/126868/10334879/ec482e02-6d0a-11e5-9f1f-1a2de5454e17.gif)
http://map.project-osrm.org/?z=17&center=43.65378

[2015-10-07 11:43] perliedman commented on #133
I'm pretty sure this issue really relates to LRM, so I've created https://github.com/perliedman/leaflet-routing-machine/issues/167 for this.

Since I'm currently mostly doing LRM in my free time, any help with this would of course be very much appreciated.

[2015-10-08 13:15] TheMarex opened #134 "Add travis jshint run"
Just to have an automatic sanity check that avoids things like https://github.com/Project-OSRM/osrm-frontend-v2/commit/ba80219594306cc75927cadb401816df550b1a75

[2015-10-11 17:12] michaelschefczyk opened #135 "Destination via Link"
Dear Patrick Niklaus,

Thank you very much for this update!

In the old frontend, one could easily generate a pre-filled destination field plus a pre-set destination marker via the following type of link:

[fqdn]/?dest=51.12009,13.78707&destname=Selliner%20Str.%2010,%2001109%20Dresden

It would be nice if something similar did work in the new version also and/or if it could be documented so that n

[2015-10-15 23:20] Orabee opened #136 "HTTPS Frontend don't work"
Link : https://map.project-osrm.org

Regards,
Vincent

[2015-10-16 03:35] batpad opened #137 "require('leaflet') instead of global script tag"
Is there a good reason to include Leaflet globally via a `<script>` tag instead of just requiring it inside index.js with `var L = require('leaflet');` or so?

It seems really messy to mix a global leaflet object and having different modules `require('leaflet')` as well.

Not sure if there's a reason for this that I'm missing. Am happy to make a pull request to fix this if no one has any objection

[2015-10-16 13:51] perliedman commented on #133
I've investigated this a bit, and I don't think there's an exact solution to the problem. It would be interesting to know how the old frontend worked.

The issue is really this:
- When a waypoint is located in an "unroutable" area, OSRM will still find the nearest routable node, and route from there
- Because the nearest node is used for routing, there's no such thing as an "unroutable area", or a

[2015-10-16 13:59] planemad commented on #133
@perliedman to clarify, the most important task while debugging a failed route is to find the exact point of failure. This allows us to investigate why the route failed at that exact point.

This is how it used to work in the previous frontend.
![](https://cloud.githubusercontent.com/assets/126868/10047108/278e2bb0-622a-11e5-9cd4-37121ca33f62.gif)

[2015-10-16 14:04] perliedman commented on #133
Yep, I think I get it!

Weirdly enough, I couldn't find any unroutable areas around where I live, even if I placed waypoints far out in the sea - OSRM would always return a route, even though several kilometers from any road or ferry route. Because of this, I misunderstood the issue.

However, when actually trying the example you provided above, I can get OSRM to refuse to route me.

Anyway, a fix

[2015-10-19 18:22] TheMarex commented on #8
Obsolete.

[2015-10-19 18:22] #8 closed

[2015-10-19 18:24] TheMarex commented on #35
Website uses an own icon set now.

[2015-10-19 18:24] #35 closed

[2015-10-19 18:34] TheMarex commented on #133
@perliedman yeah the intended behavior is that it always returns a route. But sometimes we hit edge cases where this is not the case. This helps to debug this.

Thanks! :+1:

[2015-10-19 19:38] amyleew commented on #137
Unless @TheMarex has any objections, I say go for it with a PR @batpad !

[2015-10-19 19:39] amyleew commented on #133
Thanks for the fix @perliedman

[2015-10-19 19:40] TheMarex commented on #137
Nope wasn't sure this works, but if it does, go for it.

[2015-10-20 05:20] batpad commented on #137
So, this seems like it's a little bit of voodoo, am just going to describe the behaviour I noticed and what my PR contains, and will let you guys take a call on whether it makes sense to merge or not:
1. I just remove the global `<script>` tag without doing anything else and rebuilt - strangely, everything seems to work. This seems wrong though - my guess is it still works because Leaflet gets def

[2015-10-20 13:29] TheMarex commented on #137
@batpad I would guess that LRM needs to be loaded after leaflet. So you would need to include it by `require` as well for this to work?

/cc @perliedman

[2015-10-20 13:51] perliedman commented on #137
Like @batpad said, it might be that two different versions of Leaflet get loaded, one by the frontend and one by LRM. I don't remember the details, but [`npm dedupe`](https://docs.npmjs.com/cli/dedupe) can be used to resolve such issues.

Since LRM tacks on the `Routing` object onto `L`, it's important that just one instance of Leaflet is present through the whole app.

[2015-10-21 08:41] batpad commented on #137
@TheMarex lrm is already being loaded via require, so that should be fine? The problem was that LRM internally was requiring an older version of Leaflet - v0.7.2. If I set the version of Leaflet in osrm-frontend-v2 to be v0.7.2, everything seems to work fine and as expected (The L object is the same between osrm-frontend-v2 and lrm and L.Routing gets added correctly).

I have tested with my PR abo

[2015-10-21 10:38] perliedman commented on #137
Hm, dependency management in npm isn't my core expertise, but LRM sets `^0.7.2`, so it should accept 0.7.5 as well, and I think npm will download 0.7.5 if you start with a clean build?

LRM could of course specify 0.7.5, but since it does in fact work with 0.7.2 (and probably all 0.7 versions), this would at the same time prevent using LRM with earlier versions, which you might want for various re

[2015-10-21 10:40] perliedman commented on #137
I verified this - npm will install latest acceptable version if you install LRM from scratch:

[code]

[2015-10-23 10:21] batpad commented on #137
@perliedman right. I did an `rm -rf node_modules` and then specifying leaflet ^0.7.5 as dependency seems to fetch the right version all around and everything works. Have updated the pull request to just use leaflet 0.7.5. So, everything seems to work for me this way, without needing the `<script>` tag in index.html. Can someone else test, please? If it works, do you see any other potential problem

[2015-10-25 10:25] lonvia opened #142 "Site failes to load with Firefox when cookies are disabled"
Firefox has [a long standing bug](https://bugzilla.mozilla.org/show_bug.cgi?id=748620) that it will return a security exception on localStorage.getItem() when the user has disabled cookies. The frontend hits this bug and fails to load completely. The error message is:

SecurityError: The operation is insecure. bundle.js (line 11)

[2015-10-25 15:52] TheMarex commented on #142
Hm, do you have any idea how we could circumvent this? Looking at the thread there doesn't seem to be a clear work-a-round emerging.

[2015-10-25 17:19] lonvia commented on #142
I've used [modernizr](https://modernizr.com) to check if local storage is available. It also detects this kind of problem.

[2015-11-22 17:15] moimael opened #147 "router.project-osrm.org invalid certificate"
Hi,

When using https api for routing with Firefox OS, the request fails because the certificate is invalid.

Here is the error :

[code]

Using http, everything works fine.

Thanks

[2015-11-24 08:39] perliedman commented on #147
Most likely a problem with the version of Firefox OS you're using. The certificate checks out fine in both Chrome and Firefox on both Windows and Linux.

[2015-11-24 08:42] danpat commented on #147
@perliedman It looks like we're not serving up the intermediate certificates in the trust chain.  Most browsers come with them, but I guess Firefox OS only has the root certificate, and not the intermediaries.

We've got some feelers out to get the server updated.  Unfortunately, not a lot of people have access to it, and they're a bit tricky to get a hold of.

[2015-11-24 09:02] perliedman commented on #147
@danpat alright, more than I knew about certs! Thanks.

[2015-11-24 10:14] moimael commented on #147
Thank you both for your quick answers, indeed it seems to be an intermediate certificate problem !

[2015-11-25 15:39] lxbarth opened #148 "URL regression"
Legacy links like on http://roads.mapazonia.org/ don't work anymore. It appears that a center property in the URL query part is needed. In addition, moving the map after landing from a legacy link destroys the legacy links location proeprties.

[2015-12-01 17:10] amyleew commented on #148
Looks like adding zoom values to these queries ( `z=[number]` ) will fix this.

**Broken link**
[http://map.project-osrm.org/?loc=-2.5701525797,-57.8703463558&loc=-2.7418427523,-58.034545884&output=json&z=0&hl=pt](http://map.project-osrm.org/?loc=-2.5701525797,-57.8703463558&loc=-2.7418427523,-58.034545884&output=json&z=0&hl=pt)

**Working link with `z=4` pass into query**
[http://map.project-osrm

[2015-12-01 18:30] daniel-j-h commented on #148
/cc @joto this could be related to the broken links you were talking about yesterday

[2015-12-02 09:25] joto commented on #148
@daniel-j-h: not quite the same, but similar. I had a link looking like this: "http://map.project-osrm.org/?dest=COORDINATES&amp;destname=SOMEADDRESS" which doesn't work any more. It would show the area around the coordinates and did a search on the address and put it in the destination field. The user then only had to fill out the start location.

[2015-12-07 16:04] amyleew commented on #148
Still working on this... hoping to:
-  pull in start and end points from the [query url](https://github.com/Project-OSRM/osrm-frontend-v2/blob/gh-pages/src/links.js#L44-L52)
- [pass as waypoint values](https://github.com/Project-OSRM/osrm-frontend-v2/blob/gh-pages/src/index.js#L197)
- then force [update of center point](https://github.com/Project-OSRM/osrm-frontend-v2/blob/gh-pages/src/index.js#L1

[2015-12-11 21:56] amyleew commented on #148
Tested this all on http://roads.mapazonia.org/ and they are working as expected.

Please test [`url-fix` branch](https://github.com/Project-OSRM/osrm-frontend-v2/tree/url-fix) locally before we `merge` @lxbarth.

cc @tristen

[2015-12-12 09:30] ghost opened #150 "router.project-osrm.org/viaroute response with incorrect unicode chars"
Consequently we've got this error :
SyntaxError: JSON.parse: bad control character in string literal at line 1 column 200 of the JSON data

[2015-12-12 09:32] danpat commented on #150
There is currently a bug in the string handling during preprocessing that is corrupting street name data. We are waiting for a new code deployment to complete which should hopefully fix the problem.

[2015-12-12 09:57] ghost commented on #150
thank you. What do you think when this problem will be fixed ( day or two ) ?

[2015-12-12 13:37] danpat commented on #150
Hopefully, yes, on the next cycle.  The bug should be fixed by https://github.com/Project-OSRM/osrm-backend/pull/1812

The demo server updates daily, so it will pick up the new code of the next cycle.

[2015-12-12 14:16] ghost commented on #150
ok, thank you

[2015-12-13 09:01] ghost commented on #150
any news? i see it's still not fixed

[2015-12-13 12:47] ghost commented on #150
![2015-12-13_1816](https://cloud.githubusercontent.com/assets/14829960/11767036/c5215a8e-a1c5-11e5-8822-e846fc67e5af.png)

[2015-12-14 18:52] ghost commented on #150
fixed

[2015-12-14 18:58] danpat commented on #150
Yeah, sorry, it takes a while for a code change to get deployed.

[2015-12-14 18:58] #150 closed, assigned to nobody

[2015-12-15 17:45] amyleew commented on #148
@lxbarth - Made [final code simplification](https://github.com/Project-OSRM/osrm-frontend-v2/commit/ba9d7ea3ca44086fe8965c94f027214f6ba7d2ae) and [loosened zoom](https://github.com/Project-OSRM/osrm-frontend-v2/commit/2ce9639d0199615b1d0ad9680b15368e1910557d). If no objections, I'll be merging soon.

cc @tristen @TheMarex

[2015-12-15 18:12] #148 closed, assigned to nobody

[2015-12-15 19:13] vgeorge commented on #148
Thanks!

[2015-12-16 15:50] TheMarex commented on #136
In what browser? Seems to work in Firefox.

[2015-12-16 15:51] TheMarex commented on #147
Good to close here? :smile:

[2015-12-16 15:52] danpat commented on #136
Chrome is giving me back the certificate for "www.github.com"
<img width="814" alt="screen shot 2015-12-16 at 7 52 26 am" src="https://cloud.githubusercontent.com/assets/1892250/11845710/fde62e7a-a3c9-11e5-8c5e-cc8a291b45d0.png">

[2015-12-16 15:55] danpat commented on #147
@TheMarex no, unless someone has fixed the certificate, then we're still serving up the wrong thing.

[2015-12-16 21:01] Orabee commented on #136
Try with Chrome, Safari and Firefox on mac. Need to validate certificate each time.

[2015-12-16 21:32] danpat commented on #136
@Orabee No, I was pointing out that the incorrect HTTPS certificate is being served.

The underlying problem is Github.io not supporting custom HTTPS certificates on custom domains:

https://github.com/isaacs/github/issues/156

[2016-01-08 22:13] MKergall opened #151 "Server API down?"
I tried the viaroute example provided in Server API wiki page, by just typing this url in my browser:
http://router.project-osrm.org/viaroute?loc=52.503033,13.420526&loc=52.516582,13.429290&instructions=true

After a long waiting time, I get an empty page.
Sometimes, the url changes to this one: http://magento-experimental.test.signifyd.com/

What is really surprising is that in the meantime, the

[2016-01-08 22:25] MKergall commented on #151
Should we use: https://api-osrm-routed-production.tilestream.net/
instead of: http://router.project-osrm.org/
, as done on public site?

[2016-01-13 12:43] MKergall commented on #151
Server API is working again.

[2016-01-13 12:43] #151 closed, assigned to nobody

[2016-01-14 01:20] phdbrianlee opened #152 "adding via point won't work"
when you add via point, the input box of end point does not work.
Sometimes it will get the wrong longitude coordinate which is larger than 180.

[2016-01-17 21:35] daniel-j-h opened #153 "Provide additional imperial unit conversion option"
As requested in
- https://lists.openstreetmap.org/pipermail/osrm-talk/2015-December/001082.html
- https://lists.openstreetmap.org/pipermail/osrm-talk/2016-January/001094.html

there should be an option for MPH conversion instead --- or better in addition --- to the default km/h.

/cc @amyleew what is your take on this? Is this something that could be easily and quickly done?

[2016-01-18 15:19] perliedman commented on #153
Not to nitpick, but I don't think km/h or any speeds are shown anywhere - the issue is (as far as I understand), to show distances in miles rather than kilometers.

There's already an option in Leaflet Routing Machine to use imperial units rather than metric, so this should hopefully just be a matter of adding a UI to change that option.

[2016-01-18 15:21] perliedman commented on #133
I think this should be closed, since the site runs LRM 2.6.1, which contains the fix mentioned above.

[2016-01-18 15:50] daniel-j-h commented on #153
Ha, correct. The MPH just came in because it was the mailinglist thread's topic.
Yes, an option to switch to imperial units is what this is about.

[2016-01-18 20:04] TheMarex commented on #133
@perliedman thanks for digging this up! :+1:

[2016-01-18 20:05] #133 closed, assigned to nobody

[2016-01-25 11:24] MoKob opened #154 "Routing Between GPS coordinates"
The GPS coordinate look-up in [map.project-osrm.de](http://map.project-osrm.org/) is producing results that may deviate far from the entered GPS coordinates.

When entering the coordinates `34.129382,-118.141254` and `34.124382,-118.141254` into the textfields, the route starts more than a block from the entered coordinate. ([see](http://map.project-osrm.org/?z=16&center=34.125954%2C-118.137585&lo

[2016-01-25 15:50] TheMarex commented on #154
/cc @perliedman

I think what is happening here is that the coordinate is first send to Nominatim who snapps it to the nearest address. However it should be the other way around:

Coordinate -> OSRM -> Snapped coordinate -> Nominatim

[2016-01-25 17:27] Orabee commented on #136
Or use Let's encrypt (https://letsencrypt.org/) ? Free SSL Certificates...

[2016-01-25 18:22] danpat commented on #136
@Orabee the problem isn't that we don't have a certificate (we do), it's that where we host these pages (github.io) doesn't support SSL certificates for custom domains, as mentioned https://github.com/Project-OSRM/osrm-frontend-v2/issues/136#issuecomment-165255689

To fix this, we would need to host `map.project-osrm.org` somewhere else.

[2016-01-26 17:27] TheMarex opened #155 "Clicking on map places two vias"
Steps to reproduce:
- Open http://map.project-osrm.org
- Click somewhere on the map
- Observe that start and target are filed in and map zooms to resulting trivial route

[2016-01-31 10:11] trigpoint opened #156 "Demo website gpx link doesn't include route"
Clicking the GPX button on http://map.project-osrm.org results in a file containing a GPX header, but empty of any points.

I would expect to see the route that has been calculated.

File contents
<?xml version="1.0" encoding="UTF-8"?><gpx creator="OSRM Routing Engine" version="1.1" xmlns="http://www.topografix.com/GPX/1/1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="

[2016-01-31 18:26] TheMarex commented on #156
We removed GPX support from the `5.0` series that is currently running on the demo sever. We need to remove the button as well.

[2016-02-17 17:07] mcepl opened #157 "Almost completely broken in FF45 Beta (second point does not complete)"
Hi,

when opening your page in Firefox 45 (Mozilla/5.0 (X11; Linux x86_64; rv:45.0) Gecko/20100101 Firefox/45.0) I get page displayed, but when I try to find a route, I fail. When I enter to the first box "rue gambetta, treguier" and press ENTER, the location gets displayed, but when I enter to the second box "roissy-en-france" (hoping to get [near the airport Charles de Gaulle](http://osm.org/go/

[2016-03-09 16:15] amyleew opened #158 "Add new turn by turn icons"
@TheMarex - please add to list
### New icons:
- [x] fork
- [x] ramp right
- [x] ramp left
- [x] merge right
- [x] merge left
- [x] end of road

[2016-03-09 16:58] amyleew opened #159 "Remove print button"
Doesn't appear to be necessary.

/cc @TheMarex

[2016-03-09 18:55] amyleew opened #160 "Add option to change endpoint (Nominatim to Directions API)"
Add button / functionality to switch between [router endpoints](http://www.liedman.net/leaflet-routing-machine/tutorials/alternative-routers/) for better testing.

/cc @geohacker @TheMarex

[2016-03-09 18:57] geohacker commented on #160
Yes!

cc @batpad

[2016-03-09 21:27] TheMarex commented on #155
This was fixed.

[2016-03-09 21:27] #155 closed, assigned to nobody

[2016-03-09 22:02] #159 closed, assigned to amyleew

[2016-03-09 23:00] amyleew commented on #156
Fixed https://github.com/Project-OSRM/osrm-frontend/pull/163

[2016-03-09 23:00] #156 closed, assigned to amyleew

[2016-03-10 03:48] amyleew commented on #56
@TheMarex - Added icons to this PR: https://github.com/Project-OSRM/osrm-frontend/pull/164:
- [`images/flags.svg`](https://github.com/Project-OSRM/osrm-frontend/tree/icons/images)
- [`images/measurements.svg`](https://github.com/Project-OSRM/osrm-frontend/tree/icons/images)

Let me know if you need anything else for these :information_desk_person:

[2016-03-10 14:32] #158 closed, assigned to amyleew

[2016-03-10 20:24] amyleew opened #166 "Residual print icon"
@TheMarex - the print icon is showing here but disappears when you click the language button.

![print](https://cloud.githubusercontent.com/assets/4587826/13683330/164fc604-e6d4-11e5-9193-4983fc1b7fb4.gif)

[2016-03-10 21:08] TheMarex commented on #166
Fixed.

[2016-03-10 21:08] #166 closed, assigned to nobody

[2016-03-20 16:12] roman-yepishev opened #167 "Map cannot be dragged, search resuls not zoomed into, "l.format is not a function""
Started 2-3 days ago.

The map @ http://map.project-osrm.org/ cannot be dragged more than once, after that debug console shows "l.format is not a function".

The object address are resolved, but the map is not panned to the markers.

Reproducible on FF45.0, Chrome 49.0.2623.87.

[2016-03-21 13:23] MoKob commented on #167
Can confirm the problems. In addition, zooming disconnects the geometry from the map.

<img width="757" alt="screen shot 2016-03-21 at 14 16 26" src="https://cloud.githubusercontent.com/assets/12932279/13919880/51b6d972-ef70-11e5-8bfc-4a12c727f78d.png">

:eyes: @amyleew can you take a look at whats going on? At the moment the Demo Server is essentially unusable.

[2016-03-21 15:09] amyleew commented on #167
@TheMarex is taking a look at this issue!

[2016-03-21 16:23] TheMarex commented on #167
Should be fixed now. Sorry for that, did a module update and thought it would "just work".

[2016-03-21 16:23] #167 closed, assigned to nobody

[2016-03-22 21:18] daniel-j-h opened #168 "URL is getting longer and longer"
On IRC user eddy_ reported:

/cc @TheMarex @amyleew

[2016-03-22 21:21] malenki commented on #168
I had a look at the site and can confirm the the behaviour for
Chromium 49.0.2623.87 on Debian stretch/sid (64-bit) and
Firefox ESR 45.0.1

[2016-03-23 22:41] TheMarex commented on #168
Fixed in 6594f1ffea2357717e8aee7a31dbcd7c4ac8e51c

[2016-03-23 22:41] #168 closed, assigned to nobody

[2016-03-24 07:53] daniel-j-h commented on #168
Perfect, demo server is usable and awesome again! :+1:

[2016-03-24 15:27] amyleew commented on #168
thanks @TheMarex :+1:

[2016-04-01 18:09] danpat opened #169 "missing translation (ferry)"
Ticket from @mtmail

Going `Newhaven, England` to `Dierre, France` includes a ferry.

http://www.openstreetmap.org/directions?engine=osrm_car&route=50.7887%2C0.0484%3B49.9246%2C1.0791#map=9/50.3639/0.5672&layers=C

Step 17 shows `[missing "en-US.javascripts.directions.instructions.ferry_without_exit" translation]`

I checked the`openstreetmap-website`, `osrm-backend` and `osrm-frontend` sources an

[2016-04-11 10:15] daniel-j-h opened #172 "Waypoint input needs multiple Enter presses before doing its geocoding business"
Enter "Monaco"
Press Enter _nothing happens_
Press Enter _centers on Monaco_

It seems like the console is also full of debug output, which may or may not help:

[code]

and then some more Objects.

/cc @amyleew @TheMarex

[2016-04-19 19:39] noblige opened #173 "Not able to run frontend osrm-5-0 against osrm-backend-v5.0.0-rc.2"
I can see requests reaching backend and response is sent out, but no polyline nor turnlist is displayed. Sample response from backend:

[code]

[2016-04-19 19:47] TheMarex commented on #173
@noblige the frontend does not support v5 yet. You can help by porting https://github.com/perliedman/leaflet-routing-machine

[2016-04-19 19:47] #173 closed, assigned to nobody

[2016-04-20 03:22] noblige commented on #173
perliedman/leaflet-routing-machine#225

[2016-04-21 06:48] perliedman commented on #173
I just pushed preliminary OSRM 5.0 / API v1 support to Leaflet Routing Machine. I haven't made a release, since I would like some testing and comments first.

It currently only has limited support for OSRM 5's more advanced step instructions, and I think that's an area that will have to be improved, but it's also a bit complicated because of multiple language support and the fact that changes have

[2016-05-04 10:14] benjamin-rty opened #175 "Multiple services not in GUI"
There is a possiblity to give more then 1 service in the leaflet_options.js, But in the GUI only the first service is used. (see linke 141 in index.js)
There is no way to select an other service.

Is it possible to add this in the GUI ?

Thanks

[2016-05-05 14:24] TheMarex commented on #175
Yeah that should be possible to add. If you want to give it a spin, let me know if you have any questions. :+1:

[2016-05-09 12:43] benjamin-rty commented on #175
Can you implement this ?

[2016-05-24 22:10] MoKob opened #176 "zooming reverts the alternative chosen"
When selecting alternatives, zooming switches back to the first alternative returned by osrm.

Searching for a path, I get:
<img width="1157" alt="screen shot 2016-05-25 at 00 07 46" src="https://cloud.githubusercontent.com/assets/12932279/15521612/f39e2906-220c-11e6-8c9f-1593fb5853a0.png">

Then I can select the second path, which would be
<img width="1092" alt="screen shot 2016-05-25 at 00 07 51

[2016-05-30 06:01] perliedman commented on #176
I think this has been solved on the LRM side, but not yet released.

[2016-06-05 09:58] perliedman commented on #172
I think what you describe is a result of Nominatim sometimes being quite slow to respond. I've been thinking about adding a spinner or similar when doing geocoding lookups in LRM, but never gotten around to it. The feedback should at least be improved in some way.

[2016-06-09 09:28] daniel-j-h commented on #172
I don't think this is the case here. Check it out for yourself:

Enter "Monaco"
Press Enter _nothing happens_
Wait for Minutes _nothing happens_
Press Enter _centers on Monaco instantly_

[2016-06-13 13:56] benjamin-rty commented on #175
I am not a programmer in js, so I can't do it mself... sorry

[2016-06-20 16:27] TheMarex opened #178 "Integrate icon for French translation"
#177 added French translations, this is not integrated into the frontend yet ~~since it is missing an icon to select the language.~~

This needs to be integrated in the menu displayed on project-osrm.org

[2016-06-21 20:30] ymoisan commented on #178
Thanx !  I thought you might already have a flag to include in flags.svg.  I'm really eager to have French directions :-)

[2016-06-22 14:12] ymoisan commented on #178
See 3892090 for a French flag in SVG format.

[2016-07-28 12:56] mvl22 opened #179 "osrm-frontend.js options need documenting"
I can't seem to find any documentation on the options in `osrm-frontend.js`, and several things are unclear:

1) `layer` and `baselayer` seem to be partially duplicated, but the meaning of each is unclear, and the ordering given in either does not reflect what appears online.

2) It is unclear how to set the default tile layer. Setting this in `defaultView`.`layer` doesn't seem to take effect, eve

[2016-07-29 11:54] noenandre opened #180 "Demo website contains data only for Afrika"
Trying to use http://map.project-osrm.org/ in Europe, and it will snap to the closest road in Afrika.
A look at http://map.project-osrm.org/ confirms the problem.

[2016-07-29 14:01] daniel-j-h commented on #180
@TheMarex is currently using the demo server to track down a data issue / OSRM having hiccups with garbage data. Turns out there is a particular mis-tagging triggering this which was introduced in the Geofabrik Egypt dataset.

Closing here as not actionable for us. We know the demo server is currently having a hard time and we're working on fixing all issues. As usual, keep in mind it's a demo ser

[2016-07-29 14:01] #180 closed, assigned to nobody

[2016-08-03 09:51] freenerd opened #181 "Add Mapillary links"
Would be great to look at pictures of streets to understand the situation on the ground better.

/cc @daniel-j-h

[2016-08-03 15:59] daniel-j-h commented on #181
To give a bit of insight into how (non-local) debugging usually looks like. It's a mix of looking at:
- demo server frontend for routing
- demo server's raw json response
- small components layer
- osm data layer
- mapillary traces

e.g. https://github.com/Project-OSRM/osrm-backend/issues/2725#issuecomment-236658010

[2016-08-22 14:45] julienfr112 opened #182 "support osrm-backend vector tiles"

[2016-08-22 16:37] danpat commented on #182
@julienfr112 You can view the vector tiles by hitting:

http://map.project-osrm.org/debug/

[2016-08-22 16:40] danpat commented on #182
The main page is still using a raster tile source with Leaflet JS.  We're also using Leaflet Routing Machine to do the UI, so either we'd need to add vector features to LRM, or swap to/create an engine that can work with a vector map.  Not a small lift.

[2016-08-27 01:19] julienfr112 commented on #182
great debug. One more question : what are the pink ways ?

[2016-08-27 04:55] danpat commented on #182
Pink lines are "small components", areas of the road network that are isolated from the rest for some reason (invalid turn restrictions, barriers, disconnected, incorrect oneways, etc).

[2016-08-27 08:05] #182 closed, assigned to nobody

[2016-09-06 12:43] freenerd commented on #137
Fixed with #184

[2016-09-06 12:43] #137 closed, assigned to nobody

[2016-09-06 12:43] #45 closed

[2016-10-10 08:51] MoKob opened #189 "indication u-turn shows wrong symbol"
For the query, http://map.project-osrm.org/?z=18&center=51.046407%2C13.741493&loc=51.046628%2C13.741708&loc=51.046274%2C13.741273&hl=en&alt=0

the frontend shows a straight arrow:
<img width="750" alt="screen shot 2016-10-10 at 10 48 54" src="https://cloud.githubusercontent.com/assets/12932279/19230895/3cca29d6-8ed7-11e6-984a-a2462f378bf0.png">

The response for the same query (https://router.proj

[2016-10-10 09:42] daniel-j-h opened #190 "Export Button for GeoJSON / GPX"
Tracking here in the frontend; from https://github.com/Project-OSRM/project-osrm.github.com/issues/3:

We removed GPX support from `osrm-backend` (see https://github.com/Project-OSRM/osrm-frontend/issues/156 https://github.com/Project-OSRM/osrm-frontend/issues/53 https://github.com/Project-OSRM/osrm-backend/issues/1489).

But in the current API we're already returning a GeoJSON geometry which we c

[2016-10-10 10:22] daniel-j-h opened #191 "Button for "Open In Debug Map""
It would be great for debugging routing responses to have a button similar to "Open in Editor / JOSM" (bottom left) which opens the current view in the Debug Map.

http://map.project-osrm.org/debug/#12.21/52.5233/13.3987

cc @freenerd

[2016-10-10 10:38] daniel-j-h opened #192 "Lanes: multiple indications per lane"
Lanes with multiple indications per lane are broken on the demo server. Example:

![frontend-lanes](https://cloud.githubusercontent.com/assets/527241/19233478/fec14b06-8ee5-11e6-8569-6b46616b2b40.png)

Check icons: I should take the right most lane going straight. But the tagging is `through|through;right`:

http://map.project-osrm.org/?z=18&center=51.044660%2C13.727455&loc=51.044588%2C13.727047&l

[2016-10-10 10:41] daniel-j-h commented on #189
Possibly related: multiple indications per lane are broken https://github.com/Project-OSRM/osrm-frontend/issues/192

[2016-10-11 08:49] sandra-thieme opened #194 "Markers are lost after reload"
Hi,

when searching for a location in the frontend, after a result is found a marker is placed on the map at the result's location. After reloading the page, the marker and the content in the search box showing the search result's name are lost. This happens in both Chrome and Firefox.

See below screenshots, the url in both cases is http://map.project-osrm.org/?z=13&center=49.014068%2C8.404437&lo

[2016-10-11 14:06] daniel-j-h commented on #189
Missing `uturn` case here: https://github.com/Project-OSRM/osrm-frontend/blob/a486a1e268f3e3f31b8f05a66534c5cc7164d6b6/src/itinerary_builder.js#L26-L45

[2016-10-11 14:06] daniel-j-h commented on #192
The frontend is always using the first indication here: https://github.com/Project-OSRM/osrm-frontend/blob/a486a1e268f3e3f31b8f05a66534c5cc7164d6b6/src/itinerary_builder.js#L25

[2016-10-11 15:01] daniel-j-h opened #195 "Scrolling list of instructions with mouse wheel is broken"
Mouse wheel over the map should zoom in / out. (works)
Mouse wheel over the instruction list should scroll the list up / down. (broken)

cc @TheMarex

[2016-10-11 15:11] daniel-j-h commented on #189
Fixed http://map.project-osrm.org/?z=18&center=51.046407%2C13.741493&loc=51.046628%2C13.741708&loc=51.046274%2C13.741273&hl=en&alt=0

![uturniconfixed](https://cloud.githubusercontent.com/assets/527241/19276117/b3820dce-8fd5-11e6-9fc7-47415a8e5c3e.png)

[2016-10-11 15:43] #191 closed, assigned to nobody

[2016-10-12 08:58] emiltin commented on #189
It would be nice if u-turn icons would indicate a counter clockwise turn (in locations with right-side driving).

[2016-10-12 09:54] daniel-j-h commented on #189
@emiltin the frontend does not know about left- / right side driving. It's not even in the osrm response.

We _could_ add country polygons and do a point in polygon check for the maneuver's location in the frontend. But then again, looking at the currently 40 open issues, I think there are other things to prioritize :)

(Btw if you want to lend a hand feel free to grab some issues, our frontend-fu

[2016-10-16 14:08] freenerd commented on #189
I did not implement u-turn symbols because of the directions mismatch.

Doing the left/right-hand driving approach is big to do.

One easy thing we could add on the frontend side are u-turns on the left lane have a left-u-turn symbol, u-turns on the right a right-u-turn symbol. This would at least fix the obvious mismatch we have in the screenshot above.

[2016-10-17 17:41] daniel-j-h commented on #192
@freenerd if you're back on frontend work, could you prioritize this. I looked into the frontend with @TheMarex last week for a day but we had to fix the setup, uturn lanes and some icon issues first.

[2016-10-17 20:30] freenerd commented on #192
I did not immediately tackle this problem, because it's a bit more complicated:
- It's not clear if we'd want to always show all lane indications (e.g. u-turn might be confusing most of the time)
- It's not clear how to do combined lane symbols in the web
  - We can do composites with svg
  - We can have all combinations in the icon map (which will be huge)
- We do not have sufficient information

[2016-10-18 00:39] daniel-j-h commented on #192
We can not overlay icons since they're not properly aligned in the sprite. There are no svg icons. You can show multiple indications per lane in the instructions by putting a divider between several icon groups

e.g. for `left;through|through|through;right`

[code]

[2016-10-18 18:27] daniel-j-h commented on #189
Related: uturn left vs uturn right in response https://github.com/Project-OSRM/osrm-backend/issues/3077 (v6)

[2016-10-20 06:40] perliedman commented on #195
Hm, this works for me (Ubuntu 16.04, Chrome 54.0.2840.59).
- What happens when you wheel scroll? Nothing / map zooms / ...?
- Is it always broken for you, or any particular route, etc.?
- Does it work for you in the basic LRM demo (http://www.liedman.net/leaflet-routing-machine/)?
- What system/browser?

[2016-10-20 16:36] daniel-j-h commented on #195
Yep Chrome works fine. Seems to be Firefox having issues. Ubuntu 15.04.

LRM demo works fine in Firefox - looks like demo server specific problem.

[2016-10-20 20:50] #181 closed, assigned to nobody

[2016-10-21 17:57] freenerd commented on #192
#197 is deployed.

These are things we should fix.

I think this will be highly confusing to drivers, since #arrows !== #lanes, thus we should avoid it.

[2016-10-25 05:26] nikhilve99 opened #199 "need to change osrm fronted port 9966 to 80"
hi ,

can you please describe me, how can i can the port number on osrm-frontend.As i need to make my server live.
for temp. purpose i need to run my server on 80.

Regards
Nikhil

[2016-10-25 05:29] danpat commented on #199
@nikhilve99 `osrm-frontend` is a regular web project.  To serve it on port 80, you need to set up a webserver of some type (Apache, nginx, etc), and place the files from this project in a directory.

The `npm start` server that's included is just for development purposes.

[2016-10-25 05:42] nikhilve99 commented on #199
is there any doc to configure on apache2.

Regards
Nikhil

[2016-10-25 05:43] danpat commented on #199
Not part of this project.  You might try a guide like:  https://www.digitalocean.com/community/tutorials/how-to-configure-the-apache-web-server-on-an-ubuntu-or-debian-vps

[2016-10-25 05:43] #199 closed, assigned to nobody

[2016-11-01 17:47] mvl22 commented on #179
To answer my own question 3, the code has:

`serviceUrl: leafletOptions.services[0].path`

which seems to show that only the first is ever used, if there is more than one.

[2016-11-11 19:17] prp-e opened #203 "Localization"
I found that this file is used for localizations :
[code]
but, text such as "Head east on Foo square" in sidebar are not there. How can I localize them?
Regards.

[2016-11-11 21:29] daniel-j-h commented on #203
=> https://github.com/Project-OSRM/osrm-text-instructions

The reason for this is osrm-text-instructions should be re-usable in many clients and not only this frontend. Please check open tickets there (and closed / merged pull requests, we had some translation pull requests during the last couple of days).

I'm closing this ticket here :)

[2016-11-11 21:29] #203 closed, assigned to nobody

[2016-11-13 16:38] mvl22 commented on #175
Is anyone able to give any pointers, architecturally, how this could be added to the code?

For instance, would this need to be implemented at the osrm-frontend level mainly, or would this require support in the underlying Leaflet Routing Machine library?

[2016-11-18 23:10] daniel-j-h opened #204 "Lanes: sometimes not shown at all"
Lanes are in the Response:
https://gist.github.com/daniel-j-h/a59ec9c402930ff533261f5c98aef552

But not showing up in the UI:
http://map.project-osrm.org/?z=17&center=33.005087%2C-96.731476&loc=33.003234%2C-96.731363&loc=33.006675%2C-96.733879&hl=en&alt=0

![lanes](https://cloud.githubusercontent.com/assets/527241/20449879/6bfecf84-adec-11e6-931f-27897c23f358.png)

(btw the intersection a bit east

[2016-11-28 18:30] polarbearing commented on #142
Had the same issue in Mozilla/Seamonkey. Cookie settings were on default which is here "always ask". But OSRM did not even ask, so the page did not render with the OP's error message in the log.

I now allowed session cookies manually, after which it works.

[2016-12-05 14:50] simwin opened #205 "deprecated minimatch@2.0.10"
when I try npm install:
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
How can I fix it?

[2016-12-05 19:45] danpat commented on #205
@simwin It's just a warning - feel free to submit a patch that updates `package.json` to a newer version.

[2016-12-06 13:31] perliedman commented on #205
I think the problem is that osrm-frontend doesn't depend on minimatch itself, it's a dependency somewhere one or more levels down the dependency tree.

So, the fix would be to either upgrade any packages depending on this particular version of minimatch, or make those project update _their_ dependencies.

[2016-12-12 19:32] 1ec5 opened #206 "Demo doesn’t wrap longitudes"
1. Go to http://map.project-osrm.org/?z=2
1. Pan around the globe a few times.
1. Drop start and end markers.

→ Failed request, because the demo doesn’t wrap 1556.633606 to a sensible longitude and neither does OSRM.

http://map.project-osrm.org/?z=9&center=39.893934%2C1556.633606&loc=39.899202%2C1556.240845&loc=39.918163%2C1556.611633&hl=en&alt=0

/cc @bsudekum

[2016-12-20 15:47] daniel-j-h commented on #169
OSM Website does this. Closing here.

See e.g. https://github.com/openstreetmap/openstreetmap-website/issues/1369.

[2016-12-20 15:47] #169 closed, assigned to nobody

[2017-01-16 07:56] batpad commented on #172
This is a bit silly.

Did some tracking down, and here's what seems to be happening:

The `enter` does trigger the request to Nominatim and results are returned. It then puts the results into a table, I guess for the user to be able to pick the one they want: https://github.com/perliedman/leaflet-routing-machine/blob/master/src/autocomplete.js#L60

This table seems to get created on the DOM just f

[2017-01-16 09:12] batpad commented on #172
So, it turns out the `leaflet-routing-machine.css` file was never being included.

I have created a branch that includes it: https://github.com/batpad/osrm-frontend/tree/double-entendre

Here, the geocoding / double-enter functionality seems to be fixed - it now shows a list of options and one can select the correct one, etc. The problem is, including this CSS seems to have had minor styling side-

[2017-01-17 11:51] batpad commented on #178
The SVG for the French flag needs to be added here: https://github.com/Project-OSRM/osrm-frontend/blob/gh-pages/images/osrm.toolbar.icons.svg and then minor changes to the code to get it to work.

@bhousel ^ do you think you maybe able to help? I know nothing about Inkscape and SVG sprite generation - but if you can get the flag in there, I can take it from there. Thanks!

[2017-01-17 12:10] daniel-j-h commented on #178
Flagging (heh): same needs to be done for all languages [here](https://github.com/Project-OSRM/osrm-frontend/tree/gh-pages/i18n) still missing from the icons.

[2017-01-17 12:19] #172 closed, assigned to nobody

[2017-01-18 05:47] batpad commented on #178
cc @ajithranka

[2017-02-12 20:37] abeck87 opened #210 "raw html and no styling"
I pulled this repo down to a centos 7 machine and ran the npm install and start commands. When hitting the server via Chrome on the exposed 9966 port all that is returned is the raw index.html file.

Am I missing or doing something wrong? I was hoping to see the leaflet plugin in action with the ORSM map data.

Thanks.

[2017-02-12 20:56] daniel-j-h commented on #210
The demo server is currently down, maybe that's your issue. Otherwise, `npm start` should spawn up a local HTTP server and serve Map + text input + instructions. You can point the frontend to your local routing engine instance (check `src/leaflet_options.js` and you are good to go.

For a local backend you can either compile it yourself (see `osrm-backend` repository Wiki for instructions) or use

[2017-02-12 22:53] abeck87 commented on #210
Figured it out. I had it fronted by nginx. Looking at our ngnix config i had to uncomment a header security setting "add_header X-Content-Type-Options nosniff;". Now its working.

[2017-02-13 03:49] #210 closed, assigned to nobody

[2017-02-13 10:08] daniel-j-h commented on #210
Perfect!

[2017-02-16 15:28] joto opened #212 "Language choice broken"
Looking at http://map.project-osrm.org/ using Firefox. When I hover over the "US flag" in the bottom left corner, more flags open to the right, all of them except one US flags. Most flags can't be accessed because they seem to be under the km/mile marker. When I click on the Germany flag I get an empty browser window, but changing the `hl=en` to `hl=de` in the URL works.

Also http://www.flagsaren

[2017-03-14 18:23] freenerd opened #214 "Switch to language names instead of flags"
I agree with @joto in https://github.com/Project-OSRM/osrm-frontend/issues/212 that we should not use flags. Apart from the cultural/political arguments made, we have also been incredibly bad at adding new flags. With the rate at which we are adding new translations, we should make adding them to osrm-frontend easy as well.

According to http://www.flagsarenotlanguages.com/blog/best-practice-for-p

[2017-03-14 18:26] #212 closed, assigned to nobody

[2017-03-14 18:28] freenerd opened #216 "zh-Hans translation"
https://github.com/Project-OSRM/osrm-frontend/pull/215 added chinese instructions. osrm-frontend is still in english then though, so https://github.com/Project-OSRM/osrm-frontend/blob/gh-pages/i18n/zh-Hans.js needs translation

[2017-03-15 09:21] yuryleb opened #219 "npm start fails on Windows"
Local server starting with `npm start` fails on Windows with error:

The reason is in [package.json build command](https://github.com/Project-OSRM/osrm-frontend/blob/gh-pages/package.json#L8):
`"build": "browserify -d src/index.js -s osrm > bundle.raw.js && uglifyjs bundle.raw.js -c -m --source-map=bundle.js.map -o bundle.js && cp node_modules/leaflet/dist/leaflet.css css/leaflet.css"`

To avoid t

[2017-03-17 10:23] daniel-j-h commented on #214
At the moment all flags are broken

![flags](https://cloud.githubusercontent.com/assets/527241/24039000/f6d274de-0b03-11e7-956a-e96a8c14fee5.png)

can you fix until next week when people at fossgis will take a look at the demo server

[2017-03-27 08:35] daniel-j-h opened #224 "Provide osrm/osrm-frontend Docker image for frontend"
We now provide [osrm/osrm-backend](https://hub.docker.com/r/osrm/osrm-backend/) with tags for releases and master (automated builds). We should do the same here allowing users to quickly spawn a local frontend. By default it should be configured to point to a local backend's port for queries.

The full setup should be as easy as

- download map
- docker run osrm-extract
- docker run osrm-contract

[2017-03-27 15:14] AnixPasBesoin opened #226 "Multiple routes"
I've been unable to determine how to draw multiple routes on the same map using the frontend's code.
What I want to achieve, is to route a first set of waypoints with one routing service and then route a second set of waypoints with another routing service.
I also want to keep both routing itineraries (concatenate the two).
What's the cleanest way to do that?

[2017-03-27 18:59] daniel-j-h commented on #214
@mstock I can see language names on the Swiss site http://routing.osm.ch.
Any chance to bring it upstream?

[2017-03-28 12:12] #224 closed, assigned to nobody

[2017-03-30 18:37] mstock commented on #214
Actually, the credits for the text-based language chooser on http://routing.osm.ch go to @datendelphin, in [befc38e7](https://github.com/sosm/osrm-frontend/commit/befc38e7e8876939fd6bca17bd92dfb9c1b46b27) of the [SOSM-fork of the OSRM frontend](https://github.com/sosm/osrm-frontend). Nonetheless, I just created a pull request (#228) which implements a language chooser based on language names, but

[2017-03-31 01:28] danpat commented on #226
@AnixPasBesoin I don't think there's going to be an easy way.  `osrm-frontend` depends heavily on https://github.com/perliedman/leaflet-routing-machine for route querying/drawing.

You might need to hack changes into LRM, or write custom code to call LRM twice to put results on the map.

At this stage, you should probably fork the `osrm-frontend` project and make your own customizations.  The fron

[2017-03-31 08:55] daniel-j-h commented on #226
Closing here as not actionable on our side. Maybe you can use the frontend's alternative mechanism to draw multiple routes, and then only change how alternative routes look like in the CSS.

[2017-03-31 08:55] #226 closed, assigned to nobody

[2017-04-01 14:26] mstock commented on #214
Now that #228 has been merged and the change was rolled out on the [OSRM demo site](http://map.project-osrm.org/), I guess this could be considered as done.

[2017-04-01 14:54] daniel-j-h commented on #214
Yep, thank you!

[2017-04-01 14:54] #214 closed, assigned to nobody

[2017-04-04 14:43] AnixPasBesoin opened #230 "Disable adding viapoints by clicking on the route line"
What's the proper way to disable adding viapoints when clicking on the route line?
I'd rather avoid monkey-patching the `lrmControl.options.routeLine`. What's the "by-design" approach to achieve this?
Thanx in advance.

[2017-04-05 00:55] danpat commented on #230
@AnixPasBesoin There is no by-design way to do it.

LRM, which we depend on entirely for the UI here, has:

http://www.liedman.net/leaflet-routing-machine/api/#l-routing-plan

which has an `addWaypoints: Boolean` option which looks like it'll do what you're after.

[2017-04-05 10:50] AnixPasBesoin commented on #230
For some reason, toggling `addWaypoint `to `false` didn't disable adding `waypoints ` when clicking on the line.
I'm posting my current **very dirty** workaround:

[code]
As you can see, I simply commented the `_onLineTouched` code in `L.Routing.Line.js`. That's very ugly...

[2017-04-05 11:58] freenerd opened #232 "Enable spanish instructions"
Once https://github.com/Project-OSRM/osrm-text-instructions/pull/99 lands, we should pull it in and remove this hack to enable spanish instructions https://github.com/Project-OSRM/osrm-frontend/blob/b4802a657201b2fb4f11a1329423b3cf51bd496c/src/itinerary_builder.js#L5

[2017-04-05 12:20] #232 closed, assigned to nobody

[2017-04-11 21:14] danpat commented on #230
@perliedman Any suggestions on the right way to do this?

[2017-04-12 06:22] perliedman commented on #230
`addWaypoints` should work for this; notice that the option is in plural form and ends with `s`, not like written in @AnixPasBesoin comment above.

If this doesn't work, I'd step through this line with a debugger to check what's going on: https://github.com/perliedman/leaflet-routing-machine/blob/master/src/control.js#L197

[2017-04-12 06:24] perliedman commented on #230
Maybe related: not sure if you're setting `addWaypoints` when creating the control or toggline the setting after it has been created; in the latter case, see https://github.com/perliedman/leaflet-routing-machine/issues/353

[2017-04-14 15:04] pocman opened #236 "Can't set BACKEND env var"
Hi,
I'm trying to override the Backend env var as specified in the README `-e BACKEND='http://localhost:5001'` but nothing changed in the browser.
I still have `:5000/route/v1/driving/2.3514992,48.8566101;2.3200035095214844,48.88266670851026?overview=false&alternatives=true&steps=true&hints=; Failed to load resource: net::ERR_CONNECTION_REFUSED`

[2017-04-14 16:51] daniel-j-h commented on #236
Ha yes I see what you mean. The problem is although we are accepting a env variable we already write the env BACKEND variable into our files at image build time:

https://github.com/Project-OSRM/osrm-frontend/blob/ebd652d2396c0caaaaa4870a6e72c7cf89045fc5/docker/Dockerfile#L9-L13

You have two options here:
- Derive your own image and change the BACKEND at docker build time
- Change how we replace

[2017-04-17 22:55] danpat commented on #236
@pocman Can you give https://github.com/Project-OSRM/osrm-frontend/pull/237  a go and see if it fixes the problem for you?  I implemented the "replace at runtime" approach suggested by @daniel-j-h

[2017-04-19 07:38] pocman commented on #236
Working great. Thanks

[2017-04-19 13:06] yuryleb commented on #205
Issue could be closed due to merged #238

[2017-04-19 15:09] #205 closed, assigned to nobody

[2017-04-22 21:22] yuryleb commented on #204
Actually there are no turn:lanes on the route except of [this part of Custer Road](https://www.openstreetmap.org/way/419510826#map=19/33.00706/-96.73380) (BTW with no lanes=4 tag) but U-turn maneuver here is on the next traffic lights point on the way with no turn:lanes. So IMHO all looks right _(except missing data on the ways)_

[2017-04-22 21:50] yuryleb commented on #192
IMHO displaying necessary maneuver on allowed lanes and graying out arrows on all other lanes proposed in #239 makes this issue not so actual. Of course, it's not so good to display only first indication for rest non-allowed lanes but using overlays or multifications is much worse IMHO - this is definitely useless and extra info for the drivers.

[2017-04-22 21:58] yuryleb commented on #178
French is on place after implementing select-based language chooser (#228)

[2017-04-22 22:03] yuryleb commented on #157
This route with specified start/end points seems to work now - I got http://map.project-osrm.org/?z=7&center=49.239121%2C0.873413&loc=48.785381%2C-3.232293&loc=49.002529%2C2.514152&hl=fr&alt=0

UPD: Maybe empty route could be due to unsupported Array.find() method by Firefox as by IE - recently fixed with #234. But actually there are no lane indications (where this method is being called) on this

[2017-04-22 22:34] yuryleb commented on #134
`npm test` command exists in [package.json](https://github.com/Project-OSRM/osrm-frontend/blob/gh-pages/package.json#L7) so the project is almost ready for **Travis CI**. It's just necessary to upgrade [.eslintrc](https://github.com/Project-OSRM/osrm-frontend/blob/gh-pages/.eslintrc#L12) to replace obsolete `space-after-keywords` rule with something new: `keyword-spacing  space-after-keywords` :wi

[2017-04-24 09:54] mcepl commented on #157
Yes, it works now with 52.1.0. Thank you.

[2017-04-24 09:54] #157 closed, assigned to nobody

[2017-04-24 10:29] freenerd commented on #192
@yuryleb I agree that having too much lane information may be confusing and the changes in #239 make this nicer.

Still, we want to support all-turn-information-per-lane eventually, since it should be up to the developer to decide what they want. Right now we don't support it at all, which is bad, thus it makes sense for this ticket to stay open and wait for https://github.com/Project-OSRM/osrm-ba

[2017-05-04 15:38] 1ec5 commented on #178
The flags are no longer used after #214, correct? Can we safely delete 🇺🇸 and 🇩🇪 from osrm.toolbar.icons.svg?

[2017-05-19 13:35] daniel-j-h commented on #236
This landed with https://github.com/Project-OSRM/osrm-frontend/pull/237.

[2017-05-19 13:35] #236 closed, assigned to nobody

[2017-06-03 14:01] C4ptainCrunch opened #243 ""Open in debug map" redirecting to map.project-osrm.org"
Hi !

Firstly, thanks a lot for writing this software, it's quite useful !

When clicking on the "Open in debug map" on a local instance of osrm-frontend, it redirects to http://map.project-osrm.org/debug/ instead of the local instance.

I think it's due to this line :
https://github.com/Project-OSRM/osrm-frontend/blob/gh-pages/src/tools.js#L80

I think it might be beneficial to use a relative url

[2017-06-03 14:10] daniel-j-h commented on #243
Agree - at best all those links should point to the same backend config var. At the moment you have to manually adapt the endpoint for LRM and then the debug tile viewer, too:

https://github.com/Project-OSRM/osrm-frontend#changing-backends

[2017-06-27 13:32] daniel-j-h opened #247 "`npm run start` should work with LTS Node.js 4 and 6"
Seems like `npm run start` now calls `scripts/replace.js` which needs to be made Node.js 4 compatible. Came in with https://github.com/Project-OSRM/osrm-frontend/pull/244.

[2017-06-27 16:36] TheMarex commented on #247
Fixed with #248

[2017-06-27 16:36] #247 closed, assigned to nobody

[2017-06-28 11:56] daniel-j-h opened #249 "Master broken - input fields gone, markers not showing up, etc."
Looks like master is broken. There are some internal errors in the console showing up, the text input fields are gone and adding markers does not work at all (see image below). @DenisCarriere you added the last commits - care to have a look here?

Last "working" commit seems to be 07b0b9e7dd467cb1142ce4ede2a9b5cd875deba6 - it's also showing a

in the console, but at least it's not completely broke

[2017-06-28 12:17] DenisCarriere commented on #249
Thanks for the heads up, I'll look into this.

I'm also noticing this warning.

[code]

It's coming from `parseLink`.

[code]

[2017-06-28 12:21] DenisCarriere commented on #249
@daniel-j-h on my latest commits I don't see the input fields being gone?

![image](https://user-images.githubusercontent.com/550895/27636692-a5250dae-5bda-11e7-83ca-92b526b97d7e.png)

[2017-06-28 12:35] daniel-j-h commented on #249
I can reproduce this with Firefox and Chrome under Linux on commit b1df85e and so could @MoKob yesterday on his macOS.

![map1](https://user-images.githubusercontent.com/527241/27637151-f70db48e-5c0e-11e7-966b-1d79660b3832.png)

Seems like it's coming from

https://github.com/Project-OSRM/osrm-frontend/blob/1dc9d80df95309b3863ec377e9753db05477b61b/src/index.js#L119

[2017-06-28 12:54] DenisCarriere commented on #249
@daniel-j-h Try changing these lines of code https://github.com/Project-OSRM/osrm-frontend/pull/250 in your local repo and try it again.

[2017-06-28 14:10] daniel-j-h commented on #249
@DenisCarriere yep your changes make the frontend no longer trigger the parsing error. The problem ticketed in this ticket still persists: [local is undefined here](https://github.com/Project-OSRM/osrm-frontend/blob/1dc9d80df95309b3863ec377e9753db05477b61b/src/index.js#L119) seems to be the case.

[2017-07-07 15:17] yuryleb commented on #219
Solved with #241

[2017-07-07 15:17] #219 closed, assigned to nobody

[2017-07-14 13:28] freenerd commented on #249
@daniel-j-h can you still reproduce on master? I can't.

[2017-07-14 14:00] daniel-j-h commented on #249
Can still reproduce in both Firefox as well as Chrome. Steps to reproduce:
- clone repo
- npm install (my npm version is 5.2, node version is 4.8)
- npm run start

Same problem when changing the backend in `src/leaflet_options.js` between install and start.

[2017-07-17 16:27] daniel-j-h opened #253 "Links on frontend are broken because of https"
In https://github.com/Project-OSRM/osrm-frontend/pull/246 links were switched from http to https. We deploy this project for the demo server to gh-pages and let Github serve the static site using a custom domain.

Github does not support certificates for a custom domain which means all our https links are currently broken on http://map.project-osrm.org/ - see links bottom left.

[2017-07-30 11:11] samuelleach commented on #249
Just to say - I have the same problem which I also reproduce via https://github.com/Project-OSRM/osrm-frontend/issues/249#issuecomment-315366717

This is the first time I'm trying to install the front end locally. My node version is 4.2.6 and my npm version is 3.5.2 (Ubuntu 16.0.4).

Here's a screenshot of the console:

![open source routing machine demo - google chrome_004](https://user-images.gi

[2017-08-01 01:02] DenisCarriere commented on #249
I still can't replicate any errors, I've tried it on the following:
- Ubuntu 16.04
  - Node 4/7
- MacOS Sierra
  - Node 4/6/7

@samuelleach Can you confirm your environment variables, maybe it has to do with that.

@samuelleach Does it work if you use NodeJS 6+?

[code]

[2017-08-05 19:15] samuelleach commented on #249
Sorry for my slow response. I just tested your fix in #254 / https://github.com/Project-OSRM/osrm-frontend/pull/254/commits/a69feacc36b6a70f25c94e4b5df534996d3392fc and it now works.

[2017-08-05 19:32] DenisCarriere commented on #249
👍

[2017-08-14 13:00] daniel-j-h commented on #249
Yep that fixed it 👍 Thank you for the deep dive here!

[2017-08-14 13:00] #249 closed, assigned to nobody

[2017-08-15 15:26] MoKob opened #255 "Ramp Arrows do not match instructions"
On [this route](http://map.project-osrm.org/?z=18&center=52.157968%2C9.874499&loc=52.156038%2C9.872396&loc=52.157983%2C9.872283&hl=en&alt=0), OSRM reports a `on ramp straight`. The frontend does end up showing a `right` arrow though.

![screen shot 2017-08-15 at 17 25 10 2](https://user-images.githubusercontent.com/12932279/29322736-cddc9986-81de-11e7-97df-2ca99453cf73.png)

[2017-08-15 20:04] daniel-j-h commented on #255
cc @willwhite for context about frontend lane issues

[2017-08-17 13:26] Jorl17 opened #256 "BACKEND option should be OSRM_BACKEND"
Hi,

The `BACKEND` option described [here](https://hub.docker.com/r/osrm/osrm-backend/) is incorrect. It should be `OSRM_BACKEND`

Thanks! :)

[2017-08-17 13:33] #256 closed, assigned to nobody

[2017-08-17 13:35] daniel-j-h commented on #256
Thanks for reporting! Fixed!

[2017-08-20 07:30] lycasa opened #257 "many redirects"
Administrator@Administrator MINGW64 /f/project2017/github/osrm-frontend (gh-pages)
$ docker build . -f docker/Dockerfile -t osrm-frontend
Sending build context to Docker daemon  696.6MB
Step 1/13 : FROM alpine:3.5
Get https://registry-1.docker.io/v2/library/alpine/manifests/3.5: dial tcp: lookup registry-1.docker
.io on 10.0.2.3:53: too many redirects

[2017-08-21 01:26] lycasa commented on #257
quite software"Shadowsocks" or other software like it

[2017-08-21 01:27] #257 closed, assigned to nobody

[2017-08-27 04:56] aaronstar opened #258 "Might be in the wrong section, but where is the search button?"
No route found on OSM website using ORSM.
On OSRM website http://map.project-osrm.org/ I can put in two points but there is no search or go button.
It seems pretty unusable.

Sample directions attempted to be used in Perth, AU, and other parts of AU and overseas. Same results.
Needs a more friendly user interface.

Regards,
Aaron

[2017-09-27 07:54] shravan91 opened #260 "Is OSRM down?"
It seems the routing service is not working. Does anyone have more information on what the issue is?

![screen shot 2017-09-27 at 09 52 48](https://user-images.githubusercontent.com/3190951/30901877-b778d360-a369-11e7-9c59-ccaf16560fb3.png)

[2017-09-27 09:19] daniel-j-h commented on #260
- http://project-osrm.org/
- https://www.mapbox.com/get-directions/
- https://github.com/Project-OSRM/osrm-backend/wiki/Demo-server

[2017-09-27 09:19] #260 closed, assigned to nobody

[2017-09-27 11:24] shravan91 commented on #260
Thanks @daniel-j-h

[2017-10-22 15:21] farialima opened #262 "new install of osrm-frontend broken (JS error) since a few days"
the error is "Control.Geocoder.js:20 TypeError: undefined is not an object (evaluating 'L.Evented.prototype'". I think it was broken by this commit: https://github.com/perliedman/leaflet-control-geocoder/commit/ba481c9448ae58395e0ca60050189c974c790f65 and the new release of leaflet-control-geocoder that was done 1.5.6, since the package.json will use that package

workaround is to edit the package

[2017-10-23 02:51] zuo1188 commented on #262
yes,  it is @farialima

[2017-10-23 16:14] daniel-j-h commented on #262
@farialima thanks for looking into this - want to open a pull request for this?

[2017-10-23 19:33] farialima commented on #262
sure I can do that - just I haven't tested much with upgrading to a much more recent leaflet/leaflet-control-geocoder/leaflet-routing-machine... it works though (and I could test a little more in fact) - but it is worth doing ? or shoould I just safely stick to the "old" 1.2.x leaflet-control-geocoder ?

[2017-10-23 19:48] daniel-j-h commented on #262
What about first going the save route and pinning to `1.2.x` which should go into master asap. And then we can upgrade all the dependencies here in a separate pull request and check how things work out.

[2017-10-25 20:01] anick012 opened #264 "new install osrm-frontend npm build error"
The error is appeared when tried to start local server:

nick@router:/opt/osrm-frontend$ npm start

/opt/osrm-frontend/scripts/replace.js:12
  let options = fs.readFileSync(filepath, 'utf8')
  ^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at

[2017-10-25 20:10] daniel-j-h commented on #264
You're probably on node v4.

I fixed this in https://github.com/Project-OSRM/osrm-frontend/commit/1dc9d80df95309b3863ec377e9753db05477b61b#diff-5c005e23953f09d4a3dcc5bfc3b7113f

but seems like it got re-introduced in https://github.com/Project-OSRM/osrm-frontend/commit/ef453d934a38076579d31c94642b022b15995d49#diff-5c005e23953f09d4a3dcc5bfc3b7113f

You need the `'use strict';` at the top. Can you c

[2017-11-11 11:41] datendelphin commented on #262
I just stumbled upon this. Any reason this is not yet merged? Works for me, but cost me a bit to find this.

[2017-11-13 10:00] daniel-j-h commented on #262
No technical reasons - sorry we've been slow on frontend issues and maintenance. (cc @coxchapman).

Merging https://github.com/Project-OSRM/osrm-frontend/pull/263 now.

[2017-11-13 10:00] daniel-j-h commented on #262
Resolved.

[2017-11-13 10:00] #262 closed, assigned to nobody

[2017-11-13 20:12] datendelphin commented on #262
thanks :)

[2017-11-23 11:21] #264 closed, assigned to nobody

[2017-12-12 01:38] kkyiss opened #267 "Why is webpage map display available when no internet connect"
Hello
I've already connected the osrm-frontend server with my  osrm-backend server and host at the same PC.
My question is:
**When there is no internet connected, the osrm-frontend server couldn't request map.png(?) and should just display blank instead.**

**However, with some zoom level, I can still see the map display well
How is it working?**

tks for any replies

[2017-12-12 10:21] daniel-j-h commented on #267
If you are using the frontend and pointing it to your local routing engine as per

https://github.com/Project-OSRM/osrm-frontend#changing-backends

the map tiles are still getting loaded over the internet.

If you want offline maps you have to look into e.g. hosting your tiles offline on your machine, too.

You're probably seeing some map tiles because they're cached in your browser.

[2017-12-12 12:28] kkyiss commented on #267
I'll try to clean my cached
thanks you @daniel-j-h !

[2017-12-12 12:28] #267 closed, assigned to nobody

[2018-01-06 22:11] engragy opened #268 "configuring"
i have been trying to install osrm-backend and did it successfully and now i did install the awesome osrm-frontend and every thing is working
but i just want to configure the front end to use my local host  osrm-backend and my local tile server
i also want to set a default lat,lon,zoom and default map layer
can  you please help me with this

sorry if this is the wrong place to post this  ...

[2018-01-07 15:26] daniel-j-h commented on #268
See https://github.com/Project-OSRM/osrm-frontend#changing-backends to point the frontend to your backend. Also in case you're using the Docker image see: https://github.com/Project-OSRM/osrm-frontend/blob/4c037ccfef2e3f9238d3f7ee60c9b3c8342032f0/docker/Dockerfile#L3-L8

[2018-01-08 23:15] engragy commented on #268
thank you @daniel-j-h  for your reply , i have adjusted the "leaflet_options.js" file as described in #changing backeds to point to my local backend and also to point to my tile server and default zoom ,centre as i didn't build the backend using docker and it is now working fine at localhost:9966

but i have enabled proxy,proxy_http to direct port 9966 to localhost/osrm-front and then something st

[2018-01-09 08:12] daniel-j-h commented on #268
I don't know what your proxy / proxy_http thingy is. Sorry you need to debug this on your side.

[2018-01-17 09:01] #194 closed, assigned to nobody

[2018-05-04 05:40] sandra-thieme commented on #253
GitHub recently announced HTTPS support for custom domains an GitHub Pages: https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-06-06 02:04] yangdengxian opened #276 "remove start point,no route"
hello,find a bug,remove start point, no end point,can not route anymore,can not draw start point any more,can you help me?

[2018-06-09 20:25] matkoniecz opened #277 "it is unclear how one may trigger search"
I tried placing markers for start and stop via clicking on the map - green and red marker is present but no route (or error) appeared

I tried specifying places via writing in text fields - the same, neither route or error

Tried on Edge on one computer, tried on Firefox on the second one.

In Web console I see

​> message: "HTTP request failed: [object XMLHttpRequest]"
​> status: -1
​> __proto__:

[2018-06-22 04:33] chesty opened #278 "in docker environment livereload on the browser tries to connect to the internal docker ip address of the frontend container"
I'm using both of the official osrm-frontend and osrm-backend docker containers, after loading the frontend in a browser everything works well except the browser tries to connects to the internal ip address of the frontend server.

I guess we need a way to configure livereload to supply the external ip address?

https://github.com/Project-OSRM/osrm-backend/issues/5119

[2018-06-26 06:19] Penegal opened #279 "Lane assist: selected arrow not always colored correctly"
Hello, there.

![image](https://user-images.githubusercontent.com/13777824/41836662-b5088112-785b-11e8-9ff9-1cac56732b84.png)

As you can see, the last instruction before arrival includes lane assist, but does not correctly highlight the lane to be used, unlike the instruction above it. I first opened this ticket on Project-OSRM/osrm-backend#5121 but was told the problem lied in osrm-frontend.

Re

[2018-06-26 11:00] yuryleb commented on #279
I don't think this is really frontend issue - the 'Keep left' maneuver from backend is `slight left` but `turn:lanes` on [that link](https://www.openstreetmap.org/way/125885850#map=18/48.69009/6.11694) are `through|slight_right`. How frontend should suppose that `slight left` means `through` here? :wink:

Maybe it's just necessary to update `turn:lanes` right on OSM to `slight_left|slight_right`?

[2018-06-26 14:15] danpat commented on #279
The OSRM API response returns `valid: true` for the lanes that should be preferred.  Here's what we're returning for the "Keep left" maneuver:

<img width="717" alt="screen shot 2018-06-26 at 7 05 43 am" src="https://user-images.githubusercontent.com/1892250/41917542-83df910c-790f-11e8-8124-58ff79bafb06.png">

The left-most lane has the `valid: true` indication.  The intent of this flag is to desc

[2018-06-26 15:14] yuryleb commented on #279
Thanks @danpat for explanation but if I remove my hacks for opacity and maneuver icon, the `invalid` CSS does gray out lane icons:
![french lanes](https://user-images.githubusercontent.com/4529411/41921854-5693df2a-7953-11e8-8db9-56221483dc58.png)

`invalid` style fragment:
[code]
Maybe we should use `opacity` instead of `filter` there?

[2018-06-26 15:26] yuryleb commented on #279
Yes, we can :blush:
![french lanes](https://user-images.githubusercontent.com/4529411/41922719-442764c2-7955-11e8-84e7-93e1a4f73ea8.png)

[2018-06-26 15:27] danpat commented on #279
The intent of the `invert(50%)` is to convert the original icon (darkblue) in the SVG into a grey version of itself.  The opacity set [here](https://github.com/Project-OSRM/osrm-frontend/blob/gh-pages/src/itinerary_builder.js#L93-L95) then fades that.

If we remove https://github.com/Project-OSRM/osrm-frontend/blob/gh-pages/src/itinerary_builder.js#L93-L95 completely, and change the `.invalid` CSS

[2018-06-26 15:27] yuryleb commented on #279
Yes, we can :blush:
![french lanes 2](https://user-images.githubusercontent.com/4529411/41922790-69a4a21e-7955-11e8-86b1-63032a7e9858.png)

[2018-06-26 15:35] yuryleb commented on #279
@danpat, it seems `filter` doesn't work in IE11 :worried: Maybe we could use simple `opacity` instead?

[2018-06-26 15:44] danpat commented on #279
Gah, and that's the reason I avoid doing frontend browser stuff.

👍 for just fading the icons and not also trying to make them grey in IE11.

[2018-06-28 06:22] Penegal opened #281 "Lane assist arrows shape don't match backend instructions"
Hello, there.

![image](https://user-images.githubusercontent.com/13777824/42016506-1124370a-7aac-11e8-8caf-7e8c560a26f2.png)
![image](https://user-images.githubusercontent.com/13777824/42016526-25034b12-7aac-11e8-9520-78095bff6ba9.png)

As you can see here (http://map.project-osrm.org/?z=18&center=48.192663%2C6.438981&loc=48.192459%2C6.436872&loc=48.192670%2C6.439394&hl=fr&alt=0), the arrows disp

[2018-06-28 09:08] yuryleb commented on #281
This is due to frontend restriction - it can't display "complex" arrows into more than one direction.
If there are several "arrows" for one lane, frontend just tries to choose the more [appropriate one](https://github.com/Project-OSRM/osrm-frontend/blob/gh-pages/src/itinerary_builder.js#L41-L58) from them.

[2018-06-28 09:21] Penegal commented on #281
What's the problem? Missing icons for arrows?

[2018-06-28 14:50] danpat commented on #281
@Penegal basically, yes.  The API response reports the arrow components, like `through;right`, but we only have icons for `through` and `right` individually.  We would need to create a combined `through_right` icon, or combine both images at display time.

(There's a further step that would be nice which would be to highlight the maneuver that is valid for a given lane, even if it's a composite sy

[2018-06-29 07:14] Penegal commented on #281
@danpat: composing the combined icon from individual arrows would allow to easily highlight, on a composed one, only the arrow to be followed. If you have arrow icons with alpha, designed to be stacked on display, and with a highlighted and a gray icon for each arrow direction, then you only have to stack them on display to get any composed arrow you want.

If you also want, in the composed arrow,

[2018-06-30 13:45] yuryleb commented on #279
I suppose the issue could be closed after merged #280

[2018-06-30 13:50] yuryleb commented on #281
I'm not web designer too but it seems I find the way to draw lane icons over each other:
![ovelapped icons](https://user-images.githubusercontent.com/4529411/42125757-16222278-7c6c-11e8-820f-2ddfb66a7737.png)
The second lane with two allowed directions looks in HTML as:
[code]
Now it's just necessary to redraw all icons to be of the same width and centered on the same axis :wink:

[2018-07-02 06:22] Penegal commented on #281
I think I can take care of this, but, as I'm not a web developper, could you please tell me where these icons are, so I can give you the corrected versions?

[2018-07-02 06:40] yuryleb commented on #281
Actually I already created new icons file with lane indications only and based on `images/osrm.directions.icons.color.ai/.svg` , just still checking how it works :wink:

[2018-07-02 06:57] Penegal commented on #281
Ok, then.

[2018-07-03 14:29] MaximeBrienne opened #283 "Where is NOMINATIM conf ?"
Hello i have a problem. I found where to edit the backends server, the tile server but i need to change the server Nominatim used to do address lookups.

I have :
1 Nominatim Server
1 OSM Serveur
1 OSRM Serveur

Where is the file about this config Nominatim ? Thanks

DSI RatpDev

[2018-07-04 07:37] MaximeBrienne commented on #283
I try to change https://nominatim.openstreetmap.org by my own url.

[2018-07-31 21:51] jcoupey opened #287 "Debug map is down"
I came across this during a discussion on the osrm IRC channel. Posting here as this seem to be the most relevant repo.

Currently when looking at http://map.project-osrm.org/debug/, no overlay is showing because the tiles can't be loaded. The requests generated by the frontend - such as http://router.project-osrm.org/tile/v1/car/tile(10479,25326,16).mvt - all report a `403` error.

When accessing

[2018-08-01 06:34] yuryleb commented on #192
Implemented with #284

[2018-08-01 15:59] #192 closed, assigned to nobody

[2018-08-08 05:27] Penegal commented on #281
This has been solved by #284.

[2018-08-08 05:27] #281 closed, assigned to nobody

[2018-09-21 18:34] archerhit opened #289 "How to start the map service in browser?"
After I use docker to start the map service:

[0000] info  Server running at http://172.17.0.2:9966/ (connect)
[0000] info  LiveReload running on 35729

I cannot use the browser to connect http://172.17.0.2:9966/ . Can any one answer the question?

[2018-10-31 08:48] martinledoux opened #291 "customize"
please i need a help.
can someone help me set my local tile server to the osrm-frontend ?

[2018-12-01 18:44] alireaza opened #293 "How to change polyline color by mode?"

[2019-01-25 11:03] alain-andre opened #294 "Adding way attributes on debug map"
I would like to be able to add some way attributes on debug maps, I cannot figure how to do, any idea of how I could ?

[2019-01-25 11:24] #294 closed

[2019-02-25 07:02] ashokadichill opened #295 "For React native"
Hi,

This is not an issue report.
I need to integrate the OSRM MAP in my react native project will be currently supported by any Library or any docs to complete the same.

[2019-03-11 00:23] slavanap opened #297 "Docker Hub image is broken"
`docker run -p 9966:9966 osrm/osrm-frontend`

fails with the following message:

[code]

[2019-03-11 22:07] #297 closed

[2019-03-24 13:13] pig2018 opened #300 "npm install fails on Windows"
I press "npm install" ,the result error is
[code]

[2019-03-25 13:24] #300 closed

[2019-04-06 06:38] adhamenaya opened #301 "Customize the UI in the OSRM frontend"
I am running the frontend and backend modules for `OSRM`. I want to make some customizations for the web interface and connect it to the backend functions. In which part of the project should I make these changes?

[2019-04-08 19:15] #295 closed

[2019-04-08 19:18] #291 closed

[2019-04-08 19:20] #268 closed, assigned to nobody

[2019-04-08 19:23] #175 closed, assigned to nobody

[2019-04-08 19:34] #293 closed

[2019-04-29 13:44] rachha opened #302 "want to show weight field value along with distance and duration"
I made some changes in osrm-backend, so weight and duration fields are not going to be the same. Therefore I want to show weight along with duration and distance. Which part of the code I need to change.

Thanks
![Screenshot from 2019-04-29 19-06-45](https://user-images.githubusercontent.com/16594628/56900250-ff369180-6ab2-11e9-96a6-319af747ffe4.png)
![155654548663274631](https://user-images.githu

[2019-04-30 12:16] rachha commented on #302
any help @yuryleb @perliedman  thanks.

[2019-05-03 03:41] #302 closed

[2019-05-29 17:00] zyrgit opened #304 "9966"

[2019-05-29 17:01] #304 closed

[2019-05-29 17:07] zyrgit opened #305 "Change frontend port, cannot connect to server"
Hello,
I'm trying to change the OSRM frontend (and backend) port number to support multiple dockers on one machine. I want to use 9999 on frontend instead of 9966. Here is how I changed the dockerfile:

---------------------
FROM alpine:3.5

# Enables customized options using environment variables
ENV OSRM_BACKEND='http://0.0.0.0:5001'
ENV OSRM_CENTER='39.752107,-89.488859'
ENV OSRM_ZOOM='13'
ENV

[2019-07-24 10:09] ceteras opened #307 "Wrong coordinates sent to backend"
Both my frontend and backend are installed via docker.

No route is displayed, and I see a 400 Bad request in the firefox browser console (for a route near London, UK):

[code]

The longitude is wrong in this url, its value is (lon-360) where lon would be the actual value.
I mean the correct link would be:

`http://localhost:5000/route/v1/driving/-2.8056335449219,53.26521293124656;-0.2032470703125

[2019-08-06 12:38] flacombe opened #308 "Add field to exclude classes"
Dear maintainers,

Recent releases of osrm offer the ability to exclude classes when asking for a route with exclude parameter.
It would be useful to add a simple text field beside start/end/step on frontend to manually specify a string that would be sent to route service in appropriate parameter.

A single textfield is the simplest way of doing so. A config file can give a list of possible classe

[2019-08-06 13:29] flacombe opened #309 "Reduce width of features in debug maps"
With OSRM 5.19 and frontend 0.4.0, debug map features are a bit too wide.

It's difficult to see connectivity with such wide lines, even on zoom 20:
![Capture du 2019-08-06 15-14-37](https://user-images.githubusercontent.com/5690599/62543567-699f6080-b85e-11e9-93cb-c72747077b16.png)

Is it possible to reduce the width of lines and casings on debug map please?

[2019-08-06 14:01] flacombe opened #310 "Display barriers and traffic_lights on debug maps"
It would be useful to display barriers and traffic_light nodes as dot on debug maps.
Profile can change this state and it's hard to understand the behavior of osrm without this information.

I'm not enough knowledgeable on how to change this on tile generator.

All the best

[2019-09-04 17:04] answerquest opened #311 "Deprecated corslite and polyline warnings during install"
On installation command `sudo npm install`, saw these warning messages:
[code]
Don't know what to do about the fsevents part, but corslite and polyline I was able to install by:
[code]
But I saw this output:
[code]
Not so sure now whether these were needed or not, but I got the frontend running properly now. In the console network monitor, i see corslite.js playing a prominent role so it may be im

[2019-09-16 04:26] ubalaji opened #312 "Route not provided when start and end address provided"
I have installed latest dcoker images of both osrm-frontend and osrm-backend on Linux. When I type start address the location is showing. After typing end address the route is not showing. The is recognized when I type end address but route is not showing.

My docker port for frontend is 8080 and backend port is 80.

Also I have modified leaflet_options.js file to AS follows.

 services: [{
    la

[2019-11-01 12:08] Sean12697 opened #315 "Open in JSOM: Localhost link on Production"
https://github.com/Project-OSRM/osrm-frontend/blob/7466ebadef54a45d01a8e64944d757bc62646284/src/tools.js#L79

[2019-11-01 12:54] #315 closed

[2019-12-04 19:32] SilvrDuck opened #316 "How to use a backend with basic http authentification"
Hi there,
I’m trying to run the front end using a backend for which http requests need to be authorized using basic auth.

I didn’t find any env var to do that, so I just set the following env variable :
`OSRM_BACKEND='https://some_user:some_password@my_osrm_url.com`

This does not work though. With Firefox, the request hangs forever, but if I copy the cURL command in a terminal, the login info is

[2020-01-04 13:03] GerfriedC opened #318 "WSL"
Should the docker installation work with the WSL and ubuntu 18.04?
complains about daemon...

[2020-03-24 17:52] michaelschefczyk opened #320 "No Routes shown on Demo Instance"
Dear All,

Unfortunately, the demo instance project-osrm.org does not show routes for more than a week now. Similarly, small self hosted frontends will not work either. Are there recommendations in terms of how to proceed?

Regards,

Michael Schefczyk

[2020-04-19 04:15] answerquest opened #321 "Feature request: option to disable reverse geocoding that relies on 3rd party"
## Requirement
An option disable the geocode / reverse geocode requests being sent to https://nominatim.openstreetmap.org every time we pin / move markers on the frontend interface and a route is plotted.

## Reasons / Motivations:
- Don't want to put unnecessary load on the openstreetmap core server; want to do our bit in helping the community by at least not unnecessarily adding burden to the se

[2020-04-28 00:24] lfontesc opened #322 "where is the data returned from the backend to route?"
hello guys, I would like to know where is the variable that contains the data returned from the backend of the route ?, I looked everywhere but I didn't find it

[2020-05-26 18:40] lukey78 opened #323 "Docker image and self-build docker image fails on startup"
I tried with the image hosted on Dockerhub and just tried to build my own image locally.
Both give:

[code]

[2020-05-26 19:06] #323 closed

[2020-06-19 06:36] Zakalicious opened #325 "No offline map?"
I have installed the Docker osrm-backend and frontend. I can generate a route with the front-end when I am offline, but I do not see a map.
Where do the tiles come from?
What can i do to see a map?
Thanks

[2020-06-19 21:18] sebgir opened #326 "Unable to modify locally bundle.RAW.js"
Hi,

I don't know if it is intended or not but it seems impossible to modify locally bundle.RAW.js and publish change to a locally builded docker instance.

If I do any modification to any .js files in my git clone folder, my files are automatically synced from the online repository (and Overwrited ...) when I start my OSRM-FrontEnd:LOCAL image.

As a consequence, I don't have any way to modify th

[2020-11-02 06:48] masoudr opened #328 "Set offline map URL as external environment variable"
I'm trying to set the offline map URL as an external environment variable in `leaflet_options.js`:
[code]
And in my compose file I have:
[code]
The problem is it can't read the map URL from the environment variable and I get an `undefined` value for `osm_offline`. I'm not sure how `replace.js` file works but I think it somehow overwrites the environments of this file.

[2020-12-01 16:32] madmath03 opened #329 "Leaflet options are not valid"
MapBox API layers are 410 (Gone) and should be removed from leaflet options:
https://github.com/Project-OSRM/osrm-frontend/blob/7466ebadef54a45d01a8e64944d757bc62646284/src/leaflet_options.js#L5-L21

Also, would be nice to have hiking and biking options instead of geofabrik small components which is not available either.

[2021-02-02 05:50] m33meet opened #334 "How to install backend without using docker."
Hey, I am facing problem in installation of OSRM- backend without using docker. Can anyone help me how to do that and connect it with front-end of OSRM.

[2021-02-02 05:51] #334 closed

[2021-02-04 15:25] foss- opened #335 "Web GUI: Replace Dropdown for car, bike, foot selection with three icons"
**Currently**
The dropdown is difficult to handle and requires several clicks.
<img width="455" alt="dropdown" src="https://user-images.githubusercontent.com/5708172/106912062-f4d30e00-6702-11eb-8728-761db0bb7ef1.png">

**Expected**
Offering a bike, car and foot icon and display all three icons instead of the dropdown would make for much easier and quicker handling. Keeping the blue background in

[2021-03-08 12:17] itsazzad opened #336 "Mapbox: Classic styles are no longer supported"
2686@2x.png:1 GET https://api.mapbox.com/v4/mapbox.streets/13/4394/2686@2x.png?access_token=<access_token> 410 (Gone)

After following https://hub.docker.com/r/osrm/osrm-backend/ I am getting the issue in the frontend.
![Screen Shot 2021-03-08 at 6 22 30 PM](https://user-images.githubusercontent.com/54909/110320999-4ab90f80-803b-11eb-8b86-d00c2d2a1d24.png)

[2021-03-15 23:17] #336 closed

[2021-03-15 23:18] #329 closed

[2021-03-27 16:07] drdsgvo opened #337 "Provide URL Parameter to set destination address"
In order to call the routing/directions service at http://map.project-osrm.org/?hl=de from a third party webseite with a destinaton, an URL parameter should be provided which which a target address can be provided (with the source address being possibly empty).
The overall goal is to provide a privacy friendly alternative to Google Maps with OSM as basis and OSRM as directions service.

[2021-04-26 15:32] bib1963 opened #338 "No services drop down menu or links to alt routes"
Not sure how far I will get with this....

I managed to build osrm without docker. It runs just fines except for a couple of issues.

On https://map.project-osrm.org,  I can see the services drop list showing car, bike & foot. In src/leaflet_options.js, only car is listed, and I had thought that since there was only a single entry, there would be no drop down.

So, I edited the options files and h

[2021-04-26 17:19] #338 closed

[2021-10-28 09:26] Hard-Loader opened #343 "Adding waypoints"
With a freshly loaded osrm-frontend, clicking on the map sets the start marker and a second click sets the end marker.

Subsequent clicks always update the second waypoint, whether or not extra waypoint spaces have been added or selected.  This does not seem like expected behaviour. I would expect each subsequent click to add a marker after the currently selected list entry.

Is this something tha

[2022-01-25 10:49] Dimitar5555 opened #345 "Rework http://map.project-osrm.org/timestamps/"
Currently when clicking on any of the links on this page, a file is being download. Is it possible to rework the page to have a table that lists all profiles (not sure what's the correct term) and their last updated timestamp?

[2022-01-25 12:40] datendelphin commented on #345
That would be very welcome, yes. Don't have the time to develop that myself, but if someone contributes

[2022-01-26 16:49] ilibar-zpt opened #346 "Update image at hub.docker.com/r/osrm/osrm-frontend"
Seems like last time it was updated is May 7 2019, was quite some time ago, took me a while to figure out why `OSRM_DEFAULT_LAYER` env var wasn't having an effect on anything :)

[2022-02-08 18:29] mononobi opened #347 "Error on auto sending `hints=` from frontend to backend"
Hi guys

I have deployed both osrm-backend and osrm-frontend instances via docker compose on a server.
And everything works fine independently. I can make requests from postman to backend and get the route info.
I can also open the frontend in the browser and see the map.
But, the problem is, on every routing request which frontend makes to the backed, it appends a query string in the from of `hin

[2022-04-09 07:01] michaelschefczyk opened #348 "Please update package-lock.json"
Building this complains "The package-lock.json file was created with an old version of npm".

xmldom@0.1.27, is-buffer@1.1.5, polyline@0.0.3, querystring@0.2.0, corslite@0.0.6, chokidar@1.7.0, buffer@4.9.1, buffer@5.0.6 are affected by CVEs, out of date or inder the @mapbox namescpace.

Could someone with relevant knowledge please consider an update?

[2022-04-14 12:41] tumluliu opened #349 "Where is the profile-selector control?"
Hi there,

Thank you for creating such a nice project! It seems that the frontend hosted at https://map.project-osrm.org/ is slightly different from the latest version in the repo. From the demo website, the profile selector is available and working fine:

<img width="202" alt="osrm-fe-with-modes" src="https://user-images.githubusercontent.com/1563792/163391337-1ffee5d1-712b-4c24-bd29-ef8a23cc80fe

[2022-04-14 14:02] #349 closed

[2022-05-05 12:57] hy05190134 opened #350 "docker build local image can't be run"
based branch gh-pages，I use docker build generate  a  local image osrm-fronted, but I can't run successfully , catch a error like :

async remove(item) {
^^^^^^

SyntaxError: Unexpected identifier

so how to modify the dockerfile

[2022-07-05 04:57] ayrus96 opened #351 "why leaflet?"
Hi,
   Is there any particular reason why are we using leaflet instead of openlayer?
because i want to change the map library to openlayer in frontend

so, kindly share some knowledge in this

[2022-09-13 09:11] GitBenjamin opened #353 "osrm-backend-v5.26.0 and current osrm-frontend are not compatibl ?"
@mjjbell
hello, mjjbell.
when i use the current osrm-frontend service to connect to osrm-backend-v5.26.0, the network information can not be displayed in debug mode?
However, the backend service does receive request！
![image](https://user-images.githubusercontent.com/51102038/189856278-a795fc45-b2cc-4714-8873-d2d772c9b26e.png)
![image](https://user-images.githubusercontent.com/51102038/189856166-d

[2022-11-22 21:38] rds11080 opened #356 "front end white screen"
hi, i follow the instruction and setup front end back end but i got white screen on front end(map white screen, search text white screen, direction text white screen but i can click on location)
the debug mode screen work
do i miss any library?